# Importing libraries

In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
from getpass import getpass

# Importing the database

Database on link : "https://www.kaggle.com/teajay/global-shark-attacks?select=attacks.csv"

To simplify things, this database was dowloaded to the folder where this notebook is located.

In [2]:
sharks=pd.read_csv("attacks.csv")

## Quick check on what the database looks like

In [3]:
sharks.shape

(25723, 24)

In [4]:
sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [5]:
sharks.tail(100)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
25623,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Dropping rows first

### First of all, as we can see from the tail, there are several lines that have NaN (null values) for all the columns, let's then drop this lines altogether, since they don't make any difference to our analysis.

In [6]:
sharks=sharks.dropna(how="all")
sharks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Let's also drop the last row that seems to be standing all by herself with a "Case Number" equals to "xx" and all other values equal to NaN.

In [7]:
sharks[sharks["Case Number"]=="xx"]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
sharks.drop(25722, inplace=True)
sharks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8697,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Droping duplicates

In [9]:
sharks = sharks.drop_duplicates()
sharks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0,NaN,NaN
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Taking a look in all "Case Number" equals to 0:

In [10]:
sharks[sharks["Case Number"]=="0"]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0,NaN,NaN
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0,NaN,NaN
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0,NaN,NaN
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0,NaN,NaN
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
sharks[sharks["Case Number"]=="0"].isna().sum()

Case Number               0
Date                      8
Year                      8
Type                      8
Country                   8
Area                      8
Location                  8
Activity                  8
Name                      8
Sex                       8
Age                       8
Injury                    8
Fatal (Y/N)               8
Time                      8
Species                   8
Investigator or Source    8
pdf                       8
href formula              8
href                      8
Case Number.1             8
Case Number.2             8
original order            1
Unnamed: 22               8
Unnamed: 23               8
dtype: int64

**As a conclusion:** they are also to be dropped, since they almost exclusively contains NaN. The only exception are 7 values in "original order" that don't give any other additional information. So let's drop it.

In [12]:
sharks.drop(sharks[sharks["Case Number"]=="0"].index, axis=0, inplace=True)
sharks

/usr/local/lib/python3.9/site-packages/pandas/core/frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8�N, 79�W",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

## Understanding further the dataset

From describing the dataset, we can see that we still have a lot of NaN values and very few columns are numeric.

In [13]:
sharks.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Case Number,6301,6285,1980.07.00,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Date,6302,5433,1957,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year,6300.0,NaN,NaN,NaN,1927.272381,281.116308,0.0,1942.0,1977.0,2005.0,2018.0
Type,6298,8,Unprovoked,4595,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,6252,212,USA,2229,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Area,5847,825,Florida,1037,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Location,5762,4108,"New Smyrna Beach, Volusia County",163,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Activity,5758,1532,Surfing,971,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Name,6092,5230,male,550,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sex,5737,6,M,5094,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,3471,157,17,154,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Injury,6274,3737,FATAL,802,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fatal (Y/N),5763,8,N,4293,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Time,2948,366,Afternoon,187,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Species,3464,1549,White shark,163,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investigator or Source,6285,4969,"C. Moore, GSAF",105,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pdf,6302,6291,1921.11.27.a-b-Jack.pdf,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
href formula,6301,6290,http://sharkattackfile.net/spreadsheets/pdf_di...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
href,6302,6285,http://sharkattackfile.net/spreadsheets/pdf_di...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Case Number.1,6302,6285,1907.10.16.R,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Case Number.2,6302,6286,1980.07.00,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
original order,6302.0,NaN,NaN,NaN,3152.499683,1819.375481,2.0,1577.25,3152.5,4727.75,6303.0
Unnamed: 22,1,1,stopped here,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 23,2,2,Teramo,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
sharks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6301 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6302 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.2+ MB

In [15]:
sharks.isna().sum().sort_values(ascending=False)

Unnamed: 22               6301
Unnamed: 23               6300
Time                      3354
Species                   2838
Age                       2831
Sex                        565
Activity                   544
Location                   540
Fatal (Y/N)                539
Area                       455
Name                       210
Country                     50
Injury                      28
Investigator or Source      17
Type                         4
Year                         2
href formula                 1
Case Number                  1
Date                         0
pdf                          0
href                         0
Case Number.1                0
Case Number.2                0
original order               0
dtype: int64

From the code above, we can see that the 2 last columns prssent only 1 and 2 values that are not NaN (missing values). They don't seem to be worth keeping. Let's explore it further.

# Droping columns

### Columns "Unnamed: 22" and "Unnamed: 23" -- Analyzing the 2 columns with the most number of null (NaN) values: columns.

In [16]:
sharks["Unnamed: 22"].sort_values(ascending=False)

1478    stopped here
0                NaN
1                NaN
2                NaN
3                NaN
            ...
6297             NaN
6298             NaN
6299             NaN
6300             NaN
6301             NaN
Name: Unnamed: 22, Length: 6302, dtype: object

In [17]:
sharks.loc[[1478]]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
1478,2006.05.27,27-May-2006,2006.0,Unprovoked,USA,Hawaii,"North Shore, O'ahu",Surfing,Bret Desmond,M,...,NaN,R. Collier,2006.05.27-Desmond.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.05.27,2006.05.27,4825.0,stopped here,NaN

In [18]:
sharks["Unnamed: 23"].sort_values(ascending=False)

5840    change filename
4415             Teramo
0                   NaN
1                   NaN
2                   NaN
             ...
6297                NaN
6298                NaN
6299                NaN
6300                NaN
6301                NaN
Name: Unnamed: 23, Length: 6302, dtype: object

In [19]:
sharks.loc[[5840,4415]]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
5840,1878.09.14.R,Reported 14-Sep-1878,1878.0,Provoked,USA,Connecticut,"Branford, New Haven County",Fishing,Captain Pattison,M,...,NaN,"St. Joseph Herald, 9/14/1878",1878.09.14.R-Pattison.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1878.09.14.R,1878.09.14.R,463.0,NaN,change filename
4415,1952.03.30,30-Mar-1952,1952.0,Unprovoked,NETHERLANDS ANTILLES,Curacao,NaN,Went to aid of child being menaced by the shark,A.J. Eggink,M,...,"Bull shark, 2.7 m [9'] was captured & dragged ...","J. Randall, p.352 in Sharks & Survival; H.D. B...",1952.03.30-Eggink.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.03.30,1952.03.30,1888.0,NaN,Teramo

As we can see, indeed the two previous columns doesn't seem to apport any information to the database.
So, let's drop them.

In [20]:
sharks=sharks.drop(columns=["Unnamed: 22", "Unnamed: 23"])
sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

### Original Order seems to be only tracking the inverse of the index. Let's confirm that.

In [21]:
sharks["original order"]=sharks["original order"].astype(dtype="int")
sharks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8�N, 79�W",NaN,Jules Patterson,M,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2

In [22]:
sharks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6301 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6302 non-null   int64
dtypes: float64(1), int64(1), object(20)
memory usage: 1.2+ MB

In [23]:
sharks.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            6292, 6293, 6294, 6295, 6296, 6297, 6298, 6299, 6300, 6301],
           dtype='int64', length=6302)

In [24]:
(sharks.index==6303-sharks["original order"])

array([ True,  True,  True, ...,  True,  True,  True])

With this confirmation, let's drop this column since it doesn't give us any new information.

In [25]:
sharks.drop(columns="original order", inplace=True)
sharks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8�N, 79�W",NaN,Jules Patterson,M,...,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001

### Let's see the description and informations of the database once again to identify new clues.

In [26]:
sharks.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Case Number,6301,6285,1980.07.00,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Date,6302,5433,1957,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year,6300.0,NaN,NaN,NaN,1927.272381,281.116308,0.0,1942.0,1977.0,2005.0,2018.0
Type,6298,8,Unprovoked,4595,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,6252,212,USA,2229,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Area,5847,825,Florida,1037,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Location,5762,4108,"New Smyrna Beach, Volusia County",163,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Activity,5758,1532,Surfing,971,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Name,6092,5230,male,550,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sex,5737,6,M,5094,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,3471,157,17,154,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Injury,6274,3737,FATAL,802,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fatal (Y/N),5763,8,N,4293,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Time,2948,366,Afternoon,187,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Species,3464,1549,White shark,163,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investigator or Source,6285,4969,"C. Moore, GSAF",105,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pdf,6302,6291,1921.11.27.a-b-Jack.pdf,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
href formula,6301,6290,http://sharkattackfile.net/spreadsheets/pdf_di...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
href,6302,6285,http://sharkattackfile.net/spreadsheets/pdf_di...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Case Number.1,6302,6285,1907.10.16.R,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Case Number.2,6302,6286,1980.07.00,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
sharks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6301 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
dtypes: float64(1), object(20)
memory usage: 1.2+ MB

#### We seem to have a lot of redundancies also with "Case Number", "Case Number.1", "Case Number.2" and "Original Order". Let's check it out.

### Case Number

In [28]:
casenumber=sharks[["Date","Case Number","Case Number.1","Case Number.2"]]

In [29]:
casenumber

             Date Case Number Case Number.1 Case Number.2
0     25-Jun-2018  2018.06.25    2018.06.25    2018.06.25
1     18-Jun-2018  2018.06.18    2018.06.18    2018.06.18
2     09-Jun-2018  2018.06.09    2018.06.09    2018.06.09
3     08-Jun-2018  2018.06.08    2018.06.08    2018.06.08
4     04-Jun-2018  2018.06.04    2018.06.04    2018.06.04
...           ...         ...           ...           ...
6297  Before 1903     ND.0005       ND.0005       ND.0005
6298  Before 1903     ND.0004       ND.0004       ND.0004
6299    1900-1905     ND.0003       ND.0003       ND.0003
6300    1883-1889     ND.0002       ND.0002       ND.0002
6301    1845-1853     ND.0001       ND.0001       ND.0001

[6302 rows x 4 columns]

In [30]:
# Check the number of "Case Number.1" that are equal "Case Number"
(sharks["Case Number"]==sharks["Case Number.1"]).sum()/sharks["Case Number"].count()

0.9963497857482939

As we can see, we have 99,63% of compatibility between "Case Number" and "Case Number.1". We should then consolidate these columns.

In [31]:
# Check the number of Case Number.2 that are equal Case Number.1
(sharks["Case Number.1"]==sharks["Case Number.2"]).sum()/sharks["Case Number.1"].count()

0.9968264043160902

As we can see, we have 99,68% of compatibility between "Case Number" and "Case Number.2". We should then consolidate these columns.
We may expect that **"Case Number"** is an aggregation of **"Case Number.1"** and  **"Case Number.2"**.
Let's check it out.

In [32]:
casenumber["Case Number.1"]=(casenumber["Case Number"]==casenumber["Case Number.1"])
casenumber

<ipython-input-32-6a1521f27bcb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  casenumber["Case Number.1"]=(casenumber["Case Number"]==casenumber["Case Number.1"])

             Date Case Number  Case Number.1 Case Number.2
0     25-Jun-2018  2018.06.25           True    2018.06.25
1     18-Jun-2018  2018.06.18           True    2018.06.18
2     09-Jun-2018  2018.06.09           True    2018.06.09
3     08-Jun-2018  2018.06.08           True    2018.06.08
4     04-Jun-2018  2018.06.04           True    2018.06.04
...           ...         ...            ...           ...
6297  Before 1903     ND.0005           True       ND.0005
6298  Before 1903     ND.0004           True       ND.0004
6299    1900-1905     ND.0003           True       ND.0003
6300    1883-1889     ND.0002           True       ND.0002
6301    1845-1853     ND.0001           True       ND.0001

[6302 rows x 4 columns]

In [33]:
casenumber

             Date Case Number  Case Number.1 Case Number.2
0     25-Jun-2018  2018.06.25           True    2018.06.25
1     18-Jun-2018  2018.06.18           True    2018.06.18
2     09-Jun-2018  2018.06.09           True    2018.06.09
3     08-Jun-2018  2018.06.08           True    2018.06.08
4     04-Jun-2018  2018.06.04           True    2018.06.04
...           ...         ...            ...           ...
6297  Before 1903     ND.0005           True       ND.0005
6298  Before 1903     ND.0004           True       ND.0004
6299    1900-1905     ND.0003           True       ND.0003
6300    1883-1889     ND.0002           True       ND.0002
6301    1845-1853     ND.0001           True       ND.0001

[6302 rows x 4 columns]

In [34]:
# Detecting the only cases that are not TRUE:
casenumber["Case Number.1"].count()-casenumber["Case Number.1"].sum()

24

In [35]:
casenumber["Case Number.2"]=(casenumber["Case Number"]==casenumber["Case Number.2"])
casenumber

<ipython-input-35-97974897d5e8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  casenumber["Case Number.2"]=(casenumber["Case Number"]==casenumber["Case Number.2"])

             Date Case Number  Case Number.1  Case Number.2
0     25-Jun-2018  2018.06.25           True           True
1     18-Jun-2018  2018.06.18           True           True
2     09-Jun-2018  2018.06.09           True           True
3     08-Jun-2018  2018.06.08           True           True
4     04-Jun-2018  2018.06.04           True           True
...           ...         ...            ...            ...
6297  Before 1903     ND.0005           True           True
6298  Before 1903     ND.0004           True           True
6299    1900-1905     ND.0003           True           True
6300    1883-1889     ND.0002           True           True
6301    1845-1853     ND.0001           True           True

[6302 rows x 4 columns]

In [36]:
# Detecting the only cases that are not TRUE:
casenumber["Case Number.2"].count()-casenumber["Case Number.2"].sum()

4

Summing both of the previous case that are False, we should get the exception cases.

Displaying the only 28 cases for which this method doesn't work:

In [37]:
casenumbers=pd.concat([casenumber[casenumber["Case Number.2"]!=True],casenumber[casenumber["Case Number.1"]!=True]])
casenumbers

,Date,Case Number,Case Number.1,Case Number.2
390,10-Jul-2015,2015.07-10,False,False
4949,Reported 08-Feb-1934,1934.01.08.R,False,False
5488,Reported 06-Sep-1905,NaN,False,False
5944,May-1864,1864.05,False,False
34,03-Apr-2018,2018.04.03,False,True
117,20-Jul-2017,2017.07.20.a,False,True
144,05-May-2017,2017.05.06,False,True
217,16-Sep-2016,2016.09.15,False,True
314,24-Jan-2016,2016.01.24.b,False,True
334,07-Nov-2015,2015.12.23,False,True
339,28-Oct-2015,2015.10.28.a,False,True
390,10-Jul-2015,2015.07-10,False,False
560,04-May-2014,2014.05.04,False,True
3522,05-Jul-1967,1967.07.05,False,True
3795,30-Aug-1962,"1962,08.30.b",False,True
3880,Reported 06-Sep-1961,1961.09.02.R,False,True
4403,05-Aug-1952,1952.08.05,False,True
4425,\n1951.12.15.R,1851.12.15.R,False,True
4949,Reported 08-Feb-1934,1934.01.08.R,False,False
5275,Reported to have taken place in 1919,1900.00.00.R,False,True
5358,Reported 10-Jul-1913,1913.07.10.R,False,True
5386,Reported 31-Jul-1911,1911.07.31.R,False,True
5488,Reported 06-Sep-1905,NaN,False,False
5777,Reported 28-Apr-1884,1884.04.38.R,False,True
5883,Reported 18-Jun- 1874,1876.06.18.R,False,True
5944,May-1864,1864.05,False,False
6009,29-Apr-1853,"1853,94.29",False,True
6122,Reported 01-May-1808,1808.06.01.R,False,True

In [38]:
indexes=casenumbers.index
indexes
indexds_list=list(indexes)

In [39]:
casenumber_again=sharks[["Date","Case Number","Case Number.1","Case Number.2"]]
casenumber_again

             Date Case Number Case Number.1 Case Number.2
0     25-Jun-2018  2018.06.25    2018.06.25    2018.06.25
1     18-Jun-2018  2018.06.18    2018.06.18    2018.06.18
2     09-Jun-2018  2018.06.09    2018.06.09    2018.06.09
3     08-Jun-2018  2018.06.08    2018.06.08    2018.06.08
4     04-Jun-2018  2018.06.04    2018.06.04    2018.06.04
...           ...         ...           ...           ...
6297  Before 1903     ND.0005       ND.0005       ND.0005
6298  Before 1903     ND.0004       ND.0004       ND.0004
6299    1900-1905     ND.0003       ND.0003       ND.0003
6300    1883-1889     ND.0002       ND.0002       ND.0002
6301    1845-1853     ND.0001       ND.0001       ND.0001

[6302 rows x 4 columns]

In [40]:
casenumber_again.iloc[indexes,:]

,Date,Case Number,Case Number.1,Case Number.2
390,10-Jul-2015,2015.07-10,2015.07.10,2015.07.10
4949,Reported 08-Feb-1934,1934.01.08.R,1934.02.08.R,1934.02.08.R
5488,Reported 06-Sep-1905,NaN,1905.09.06.R,1905.09.06.R
5944,May-1864,1864.05,1864.05.00,1864.05.00
34,03-Apr-2018,2018.04.03,2018.04.02,2018.04.03
117,20-Jul-2017,2017.07.20.a,2017/07.20.a,2017.07.20.a
144,05-May-2017,2017.05.06,2017.06.06,2017.05.06
217,16-Sep-2016,2016.09.15,2016.09.16,2016.09.15
314,24-Jan-2016,2016.01.24.b,2015.01.24.b,2016.01.24.b
334,07-Nov-2015,2015.12.23,2015.11.07,2015.12.23
339,28-Oct-2015,2015.10.28.a,2015.10.28,2015.10.28.a
390,10-Jul-2015,2015.07-10,2015.07.10,2015.07.10
560,04-May-2014,2014.05.04,2013.05.04,2014.05.04
3522,05-Jul-1967,1967.07.05,1967/07.05,1967.07.05
3795,30-Aug-1962,"1962,08.30.b",1962.08.30.b,"1962,08.30.b"
3880,Reported 06-Sep-1961,1961.09.02.R,"1961.09,06.R",1961.09.02.R
4403,05-Aug-1952,1952.08.05,1952.08.04,1952.08.05
4425,\n1951.12.15.R,1851.12.15.R,1951.12.15.R,1851.12.15.R
4949,Reported 08-Feb-1934,1934.01.08.R,1934.02.08.R,1934.02.08.R
5275,Reported to have taken place in 1919,1900.00.00.R,1919.00.00.R,1900.00.00.R
5358,Reported 10-Jul-1913,1913.07.10.R,1913.17.10.R,1913.07.10.R
5386,Reported 31-Jul-1911,1911.07.31.R,1911.07.31.T,1911.07.31.R
5488,Reported 06-Sep-1905,NaN,1905.09.06.R,1905.09.06.R
5777,Reported 28-Apr-1884,1884.04.38.R,1884.04.28.R,1884.04.38.R
5883,Reported 18-Jun- 1874,1876.06.18.R,1874.06.18.R,1876.06.18.R
5944,May-1864,1864.05,1864.05.00,1864.05.00
6009,29-Apr-1853,"1853,94.29",1853.04.29,"1853,94.29"
6122,Reported 01-May-1808,1808.06.01.R,1808.05.01.R,1808.06.01.R

#### Cleaning the Case Number for those indexes that aren't in order:

In [41]:
casenumber.loc[[217, 334, 390, 3795, 3880, 4425, 4949, 5275, 5488, 5777, 5883, 5944, 6009, 6122], "Case Number"] = casenumber.loc[[217, 334, 390, 3795, 3880, 4425, 4949, 5275, 5488, 5777, 5883, 5944, 6009, 6122], "Case Number.1"]
casenumber

/usr/local/lib/python3.9/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

             Date Case Number  Case Number.1  Case Number.2
0     25-Jun-2018  2018.06.25           True           True
1     18-Jun-2018  2018.06.18           True           True
2     09-Jun-2018  2018.06.09           True           True
3     08-Jun-2018  2018.06.08           True           True
4     04-Jun-2018  2018.06.04           True           True
...           ...         ...            ...            ...
6297  Before 1903     ND.0005           True           True
6298  Before 1903     ND.0004           True           True
6299    1900-1905     ND.0003           True           True
6300    1883-1889     ND.0002           True           True
6301    1845-1853     ND.0001           True           True

[6302 rows x 4 columns]

In [42]:
sharks.loc[[217, 334, 390, 3795, 3880, 4425, 4949, 5275, 5488, 5777, 5883, 5944, 6009, 6122], "Case Number"] = sharks.loc[[217, 334, 390, 3795, 3880, 4425, 4949, 5275, 5488, 5777, 5883, 5944, 6009, 6122], "Case Number.1"]
sharks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8�N, 79�W",NaN,Jules Patterson,M,...,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001

### Now we drop columns "Case Number.1" and "Case Number.2"

In [43]:
sharks=sharks.drop(columns=["Case Number.1","Case Number.2"])
sharks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8�N, 79�W",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

## Cleaning the column "Fatal (Y/N)"

In [44]:
sharks["Fatal (Y/N)"].value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
y             1
2017          1
M             1
N             1
Name: Fatal (Y/N), dtype: int64

In [45]:
sharks["Fatal (Y/N)"]=sharks["Fatal (Y/N)"].str.replace(" ","").str.replace("y","Y").replace("M","UNKNOWN").replace("2017","UNKNOWN")

In [46]:
sharks["Fatal (Y/N)"].value_counts()

N          4301
Y          1389
UNKNOWN      73
Name: Fatal (Y/N), dtype: int64

In [47]:
sharks["Fatal (Y/N)"]=sharks["Fatal (Y/N)"].fillna(value="UNKNOWN")

In [48]:
sharks["Fatal (Y/N)"].value_counts()

N          4301
Y          1389
UNKNOWN     612
Name: Fatal (Y/N), dtype: int64

In [49]:
sharks.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Case Number,6302,6286,2006.09.02,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Date,6302,5433,1957,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year,6300.0,NaN,NaN,NaN,1927.272381,281.116308,0.0,1942.0,1977.0,2005.0,2018.0
Type,6298,8,Unprovoked,4595,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,6252,212,USA,2229,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Area,5847,825,Florida,1037,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Location,5762,4108,"New Smyrna Beach, Volusia County",163,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Activity,5758,1532,Surfing,971,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Name,6092,5230,male,550,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sex,5737,6,M,5094,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,3471,157,17,154,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Injury,6274,3737,FATAL,802,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fatal (Y/N),6302,3,N,4301,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Time,2948,366,Afternoon,187,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Species,3464,1549,White shark,163,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investigator or Source,6285,4969,"C. Moore, GSAF",105,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pdf,6302,6291,1921.11.27.a-b-Jack.pdf,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
href formula,6301,6290,http://sharkattackfile.net/spreadsheets/pdf_di...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
href,6302,6285,http://sharkattackfile.net/spreadsheets/pdf_di...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Cleaning the column "Year"

In [50]:
sharks["Year"].value_counts()

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
         ...
1767.0      1
1816.0      1
1812.0      1
1822.0      1
1748.0      1
Name: Year, Length: 249, dtype: int64

In [51]:
sharks[sharks["Year"].isna()]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href
187,2017.01.08.R,Reported 08-Jan-2017,NaN,Invalid,AUSTRALIA,Queensland,NaN,Spearfishing,Kerry Daniel,M,35,"No attack, shark made a threat display",UNKNOWN,NaN,Bull shark,Liquid Vision 1/8/2017,2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6079,1836.08.19.R,Reported 19-Aug-1836,NaN,Unprovoked,ENGLAND,Cumberland,Whitehaven,Swimming,a boy,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1835.08.19.R-Whitehaven.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

In [52]:
sharks.Year[187]=2017
sharks.Year[6079]=1836

<ipython-input-52-871e00f9f58b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks.Year[187]=2017
<ipython-input-52-871e00f9f58b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks.Year[6079]=1836

In [53]:
sharks[sharks["Year"].isna()]

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href]
Index: []

#### Now, let's change its type:

In [54]:
sharks.Year=sharks.Year.astype("int32")

In [55]:
sharks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6302 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6302 non-null   int32
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             6302 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
dtypes: int32(1), object(18)
memory usage: 1.1+ MB

In [56]:
display(sharks[sharks.Year==sharks.Year.isna()])

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href
6177,0000.0214,Ca. 214 B.C.,0,Unprovoked,NaN,Ionian Sea,NaN,Ascending from a dive,"Tharsys, a sponge diver",M,NaN,"FATAL, shark/s bit him in two",Y,NaN,NaN,"Reported by Greek poet, Leonidas of Tarentum (...",214BC-Tharsys.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6178,0000.0336,Ca. 336.B.C..,0,Unprovoked,GREECE,Piraeus,In the haven of Cantharus,Washing his pig in preparation for a religious...,A candidate for initiation,M,NaN,"FATAL, shark ""bit off all lower parts of him u...",Y,NaN,NaN,Plutarch (45 - 125 A.D.) in Life of Phoecion (...,336-BC-Carnathus.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6179,0000.0493,493 B.C.,0,Sea Disaster,GREECE,Off Thessaly,NaN,Shipwrecked Persian Fleet,males,M,NaN,Herodotus tells of sharks attacking men in the...,Y,NaN,NaN,Herodotus (485 - 425 B.C.),493BC-PersianFleet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6180,0000.0725,Ca. 725 B.C.,0,Sea Disaster,ITALY,Tyrrhenian Sea,Krater found during excavations at Lacco Ameno...,Shipwreck,males,M,NaN,Depicts shipwrecked sailors attacked by a sha...,Y,NaN,NaN,"V.M. Coppleson (1958), p.262, et al",725BC-vase.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6181,ND-0154,Before 1939,0,Unprovoked,CANADA,NaN,Grand Banks,Fishing,Joe Folsom,M,NaN,Arm bitten,N,NaN,NaN,"C.E.Russell, pp. 310-311",ND-0154-Folsom.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6298,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6299,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6300,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8�N, 79�W",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6301,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

### Columns "href" and "href formula"

In [57]:
(sharks["href"]==sharks["href formula"]).sum()

6242

In [58]:
link=sharks[["href","href formula"]]
link

,href,href formula
0,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...
6297,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6298,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6299,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6300,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6301,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

In [59]:
link[link["href"]!=link["href formula"]]

,href,href formula
50,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
96,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
131,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
133,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
141,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
168,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
234,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
241,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
276,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
324,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
332,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
352,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
401,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
453,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
484,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
485,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
486,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
493,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
494,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
515,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
527,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
545,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
569,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
583,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
584,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
585,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
586,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
587,pdf_directory2014.01.04-Riano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
588,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
590,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
600,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
601,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
602,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
603,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
604,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
605,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
606,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
607,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
671,http://sharkattackfile.net/spreadsheets/pdf_di...,pdf-directory/2013.05.27.b-Ena.pdf
672,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1046,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1441,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1442,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2702,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3244,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN
3245,http://sharkattackfile.net/spreadsheets/pdf_di...,#VALUE!
3775,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3829,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4143,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4154,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4621,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4872,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4898,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4949,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5245,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5349,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5556,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5701,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6110,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6166,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

In [60]:
indexes = list(link[link["href"]!=link["href formula"]].index)
indexes

[50,
 96,
 131,
 133,
 141,
 168,
 234,
 241,
 276,
 324,
 332,
 352,
 401,
 453,
 484,
 485,
 486,
 493,
 494,
 515,
 527,
 545,
 569,
 583,
 584,
 585,
 586,
 587,
 588,
 590,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 671,
 672,
 1046,
 1441,
 1442,
 2702,
 3244,
 3245,
 3775,
 3829,
 4143,
 4154,
 4621,
 4872,
 4898,
 4949,
 5245,
 5349,
 5556,
 5701,
 6110,
 6166]

In [61]:
# Checking the href that are valid

import requests

for index in indexes:
    #print(link.loc[index,"href"])
    try:
        request = requests.get(link.loc[index,"href"])
    except:
        link.loc[index,"href"]=0
    if request.status_code == 200:
        pass
    else:
        link.loc[index,"href"]=0
        
link[link["href"]!=link["href formula"]]

/usr/local/lib/python3.9/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.9/site-packages/pandas/core/indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

,href,href formula
50,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
96,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
131,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
133,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
141,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
168,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
234,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
241,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
276,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
324,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
332,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
352,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
401,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
453,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
484,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
485,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
486,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
493,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
494,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
515,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
527,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
545,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
569,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
583,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
584,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
585,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
586,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
587,0,http://sharkattackfile.net/spreadsheets/pdf_di...
588,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
590,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
600,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
601,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
602,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
603,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
604,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
605,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
606,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
607,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
671,http://sharkattackfile.net/spreadsheets/pdf_di...,pdf-directory/2013.05.27.b-Ena.pdf
672,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1046,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1441,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1442,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2702,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3244,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN
3245,http://sharkattackfile.net/spreadsheets/pdf_di...,#VALUE!
3775,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3829,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4143,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4154,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4621,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4872,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4898,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4949,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5245,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5349,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5556,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5701,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6110,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6166,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

We check that only one line (with index 587) has an invalid URL. Let's then attribute the value of href:

In [62]:
# Checking the attribution first
link.loc[587,"href"]=link.loc[587,"href formula"]
link[link["href"]!=link["href formula"]]

/usr/local/lib/python3.9/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.9/site-packages/pandas/core/indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

,href,href formula
50,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
96,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
131,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
133,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
141,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
168,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
234,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
241,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
276,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
324,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
332,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
352,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
401,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
453,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
484,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
485,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
486,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
493,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
494,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
515,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
527,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
545,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
569,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
583,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
584,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
585,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
586,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
588,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
590,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
600,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
601,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
602,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
603,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
604,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
605,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
606,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
607,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
671,http://sharkattackfile.net/spreadsheets/pdf_di...,pdf-directory/2013.05.27.b-Ena.pdf
672,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1046,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1441,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1442,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2702,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3244,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN
3245,http://sharkattackfile.net/spreadsheets/pdf_di...,#VALUE!
3775,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3829,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4143,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4154,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4621,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4872,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4898,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4949,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5245,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5349,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5556,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5701,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6110,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6166,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

In [63]:
# Attributing the value at last
sharks.loc[587,"href"]=sharks.loc[587,"href formula"]

Let's drop the column "href formula" cause it doesn't bring us any new information.

In [64]:
sharks.drop(columns="href formula", inplace=True)
sharks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
6298,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
6299,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
6300,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8�N, 79�W",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
6301,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...

### Cleaning column Sex

In [65]:
sharks["Sex "].value_counts()

M      5094
F       637
M         2
N         2
lli       1
.         1
Name: Sex , dtype: int64

In [66]:
sharks=sharks.rename(columns={"Sex ":"Sex"})
sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...

In [67]:
sharks["Sex"]=sharks["Sex"].str.replace(" ","").replace("N","M").replace(".", "UNKNOWN").replace("lli","UNKNOWN")
sharks["Sex"].value_counts()

M          5098
F           637
UNKNOWN       2
Name: Sex, dtype: int64

Cleaning all NaN values:

In [68]:
sharks["Sex"].isna().sum()

565

In [69]:
sharks["Sex"]=sharks["Sex"].fillna(value="UNKNOWN")
sharks["Sex"].value_counts()

M          5098
F           637
UNKNOWN     567
Name: Sex, dtype: int64

### Cleaning column "Country"

In [70]:
sharks["Country"].value_counts()

USA                 2229
AUSTRALIA           1338
SOUTH AFRICA         579
PAPUA NEW GUINEA     134
NEW ZEALAND          128
                    ...
CYPRUS                 1
MEXICO                 1
COOK ISLANDS           1
NICARAGUA              1
ANDAMAN ISLANDS        1
Name: Country, Length: 212, dtype: int64

In [71]:
list_countries=list(set(sharks["Country"]))
list_countries

[nan,
 'ANTIGUA',
 'SUDAN?',
 'PUERTO RICO',
 'GREECE',
 'KIRIBATI',
 'PALESTINIAN TERRITORIES',
 'Coast of AFRICA',
 'RUSSIA',
 'MICRONESIA',
 'SLOVENIA',
 'JOHNSTON ISLAND',
 'EQUATORIAL GUINEA / CAMEROON',
 'GUATEMALA',
 'ST. MARTIN',
 'NEW CALEDONIA',
 'GRAND CAYMAN',
 'LIBERIA',
 'SWEDEN',
 'REUNION',
 'BELIZE',
 'CURACAO',
 'NORWAY',
 'IRELAND',
 'NEW ZEALAND',
 'IRAQ',
 'DOMINICAN REPUBLIC',
 'OKINAWA',
 'ENGLAND',
 'BARBADOS',
 'USA',
 'CHINA',
 'BERMUDA',
 'INDIAN OCEAN',
 'JAPAN',
 'SOUTH CHINA SEA',
 'AZORES',
 'NORTHERN ARABIAN SEA',
 'MALDIVES',
 'TANZANIA',
 'PACIFIC OCEAN',
 'THAILAND',
 'GHANA',
 'TURKEY',
 'ASIA?',
 'BAHAMAS',
 'SRI LANKA',
 'EGYPT',
 'MID ATLANTIC OCEAN',
 'PARAGUAY',
 'WESTERN SAMOA',
 'ROATAN',
 'EGYPT / ISRAEL',
 'IRAN / IRAQ',
 'ATLANTIC OCEAN',
 'ARUBA',
 'NORTH SEA',
 'NAMIBIA',
 'DIEGO GARCIA',
 'RED SEA / INDIAN OCEAN',
 'GRENADA',
 'TOBAGO',
 'SOUTH ATLANTIC OCEAN',
 'PERU',
 'BRAZIL',
 'SOLOMON ISLANDS',
 'DJIBOUTI',
 'KUWAIT',
 'SOUTH KOREA',
 'BAHREIN',
 'NEW BRITAIN',
 'PAPUA NEW GUINEA',
 'MAURITIUS',
 'SOLOMON ISLANDS / VANUATU',
 'ST HELENA, British overseas territory',
 'FALKLAND ISLANDS',
 'WEST INDIES',
 'YEMEN',
 'ADMIRALTY ISLANDS',
 'ITALY / CROATIA',
 'Between PORTUGAL & INDIA',
 'MEXICO',
 'AMERICAN SAMOA',
 'ANDAMAN ISLANDS',
 'ISRAEL',
 'URUGUAY',
 'MALDIVE ISLANDS',
 'SUDAN',
 'RED SEA?',
 'FRENCH POLYNESIA',
 'SPAIN',
 'THE BALKANS',
 'OCEAN',
 'SAN DOMINGO',
 'GREENLAND',
 'Fiji',
 'MOZAMBIQUE',
 'PERSIAN GULF',
 'FRANCE',
 'COSTA RICA',
 'VIETNAM',
 'EL SALVADOR',
 'SOUTH PACIFIC OCEAN',
 'CEYLON',
 ' TONGA',
 'INDIAN OCEAN?',
 'GEORGIA',
 'NICARAGUA',
 'SAMOA',
 'SINGAPORE',
 'CEYLON (SRI LANKA)',
 'UNITED KINGDOM',
 'ALGERIA',
 'PACIFIC OCEAN ',
 'CRETE',
 'PORTUGAL',
 'PALAU',
 'BRITISH VIRGIN ISLANDS',
 'GUINEA',
 'FEDERATED STATES OF MICRONESIA',
 'TURKS & CAICOS',
 'MONTENEGRO',
 'MARTINIQUE',
 'AUSTRALIA',
 'SEYCHELLES',
 'MONACO',
 'REUNION ISLAND',
 'BANGLADESH',
 'NEW GUINEA',
 'KOREA',
 'GULF OF ADEN',
 'NIGERIA',
 'HONG KONG',
 'TUNISIA',
 'ICELAND',
 'NORTH PACIFIC OCEAN',
 'BRITISH WEST INDIES',
 'CENTRAL PACIFIC',
 'HONDURAS',
 'TRINIDAD & TOBAGO',
 'CROATIA',
 'SAUDI ARABIA',
 'CAPE VERDE',
 'Sierra Leone',
 'YEMEN ',
 'TASMAN SEA',
 'SIERRA LEONE',
 'EGYPT ',
 'NORTHERN MARIANA ISLANDS',
 'GABON',
 'NETHERLANDS ANTILLES',
 'ITALY',
 'TONGA',
 'FIJI',
 'SCOTLAND',
 'JAVA',
 'BRITISH ISLES',
 'BAY OF BENGAL',
 ' PHILIPPINES',
 'UNITED ARAB EMIRATES (UAE)',
 'SOMALIA',
 'NORTH ATLANTIC OCEAN ',
 'CHILE',
 'MAYOTTE',
 'LEBANON',
 'HAITI',
 'ARGENTINA',
 'COMOROS',
 'TAIWAN',
 'KENYA',
 'MARSHALL ISLANDS',
 'SOUTHWEST PACIFIC OCEAN',
 'CUBA',
 'GUYANA',
 'SENEGAL',
 'VENEZUELA',
 'MEDITERRANEAN SEA',
 'UNITED ARAB EMIRATES',
 'CARIBBEAN SEA',
 'RED SEA',
 'CAYMAN ISLANDS',
 'NEVIS',
 'ANDAMAN / NICOBAR ISLANDAS',
 'MID-PACIFC OCEAN',
 'LIBYA',
 'ANGOLA',
 'NICARAGUA ',
 'INDIA',
 'COOK ISLANDS',
 'GUAM',
 'NORTH ATLANTIC OCEAN',
 'INDONESIA',
 'ECUADOR',
 'TUVALU',
 'BURMA',
 'SYRIA',
 'JAMAICA',
 'IRAN',
 'BRITISH NEW GUINEA',
 'MEXICO ',
 'AFRICA',
 'VANUATU',
 'SOUTH AFRICA',
 'ST. MAARTIN',
 'Seychelles',
 'PHILIPPINES',
 'MALAYSIA',
 'COLUMBIA',
 'MALTA',
 'PANAMA',
 'CYPRUS',
 'CANADA',
 'MADAGASCAR']

In [72]:
sharks["Country"]=sharks["Country"].str.upper()

In [73]:
sharks["Country"].isna().sum()

50

In [74]:
sharks["Country"].fillna(value="WORLD", inplace=True)

In [75]:
sharks["Country"]=sharks["Country"].str.replace("?","").replace("MEXICO ","MEXICO").replace("NICARAGUA ","NICARAGUA").replace(" PHILIPPINES","PHILIPPINES").replace("EGYPT ", "EGYPT").replace("Coast of AFRICA", "AFRICA").replace(" TONGA","TONGA")

<ipython-input-75-23c3b5488565>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  sharks["Country"]=sharks["Country"].str.replace("?","").replace("MEXICO ","MEXICO").replace("NICARAGUA ","NICARAGUA").replace(" PHILIPPINES","PHILIPPINES").replace("EGYPT ", "EGYPT").replace("Coast of AFRICA", "AFRICA").replace(" TONGA","TONGA")

In [76]:
list_countries=list(set(sharks["Country"]))
list_countries

['ANTIGUA',
 'PUERTO RICO',
 'GREECE',
 'KIRIBATI',
 'PALESTINIAN TERRITORIES',
 'RUSSIA',
 'MICRONESIA',
 'SLOVENIA',
 'JOHNSTON ISLAND',
 'EQUATORIAL GUINEA / CAMEROON',
 'GUATEMALA',
 'ST. MARTIN',
 'NEW CALEDONIA',
 'GRAND CAYMAN',
 'LIBERIA',
 'SWEDEN',
 'REUNION',
 'BELIZE',
 'CURACAO',
 'NORWAY',
 'IRELAND',
 'NEW ZEALAND',
 'IRAQ',
 'DOMINICAN REPUBLIC',
 'OKINAWA',
 'ENGLAND',
 'BARBADOS',
 'USA',
 'CHINA',
 'BERMUDA',
 'INDIAN OCEAN',
 'JAPAN',
 'SOUTH CHINA SEA',
 'AZORES',
 'NORTHERN ARABIAN SEA',
 'MALDIVES',
 'TANZANIA',
 'PACIFIC OCEAN',
 'THAILAND',
 'GHANA',
 'TURKEY',
 'BAHAMAS',
 'SRI LANKA',
 'EGYPT',
 'MID ATLANTIC OCEAN',
 'PARAGUAY',
 'WESTERN SAMOA',
 'ROATAN',
 'EGYPT / ISRAEL',
 'IRAN / IRAQ',
 'ATLANTIC OCEAN',
 'ARUBA',
 'NORTH SEA',
 'NAMIBIA',
 'DIEGO GARCIA',
 'RED SEA / INDIAN OCEAN',
 'GRENADA',
 'TOBAGO',
 'SOUTH ATLANTIC OCEAN',
 'PERU',
 'BRAZIL',
 'SOLOMON ISLANDS',
 'DJIBOUTI',
 'KUWAIT',
 'SOUTH KOREA',
 'BAHREIN',
 'NEW BRITAIN',
 'PAPUA NEW GUINEA',
 'MAURITIUS',
 'SOLOMON ISLANDS / VANUATU',
 'FALKLAND ISLANDS',
 'WEST INDIES',
 'YEMEN',
 'ADMIRALTY ISLANDS',
 'ITALY / CROATIA',
 'BETWEEN PORTUGAL & INDIA',
 'MEXICO',
 'AMERICAN SAMOA',
 'ANDAMAN ISLANDS',
 'ISRAEL',
 'URUGUAY',
 'MALDIVE ISLANDS',
 'SUDAN',
 'FRENCH POLYNESIA',
 'SPAIN',
 'THE BALKANS',
 'OCEAN',
 'SAN DOMINGO',
 'GREENLAND',
 'MOZAMBIQUE',
 'PERSIAN GULF',
 'FRANCE',
 'COSTA RICA',
 'VIETNAM',
 'EL SALVADOR',
 'SOUTH PACIFIC OCEAN',
 'CEYLON',
 'GEORGIA',
 'NICARAGUA',
 'WORLD',
 'SAMOA',
 'SINGAPORE',
 'CEYLON (SRI LANKA)',
 'UNITED KINGDOM',
 'ALGERIA',
 'PACIFIC OCEAN ',
 'CRETE',
 'PORTUGAL',
 'PALAU',
 'BRITISH VIRGIN ISLANDS',
 'GUINEA',
 'FEDERATED STATES OF MICRONESIA',
 'TURKS & CAICOS',
 'MONTENEGRO',
 'MARTINIQUE',
 'AUSTRALIA',
 'SEYCHELLES',
 'MONACO',
 'REUNION ISLAND',
 'BANGLADESH',
 'NEW GUINEA',
 'KOREA',
 'GULF OF ADEN',
 'NIGERIA',
 'HONG KONG',
 'TUNISIA',
 'ICELAND',
 'NORTH PACIFIC OCEAN',
 'BRITISH WEST INDIES',
 'CENTRAL PACIFIC',
 'HONDURAS',
 'TRINIDAD & TOBAGO',
 'CROATIA',
 'SAUDI ARABIA',
 'CAPE VERDE',
 'ASIA',
 'YEMEN ',
 'TASMAN SEA',
 'SIERRA LEONE',
 'NORTHERN MARIANA ISLANDS',
 'GABON',
 'NETHERLANDS ANTILLES',
 'ITALY',
 'TONGA',
 'FIJI',
 'SCOTLAND',
 'JAVA',
 'BRITISH ISLES',
 'BAY OF BENGAL',
 'UNITED ARAB EMIRATES (UAE)',
 'SOMALIA',
 'NORTH ATLANTIC OCEAN ',
 'CHILE',
 'MAYOTTE',
 'LEBANON',
 'HAITI',
 'ARGENTINA',
 'COMOROS',
 'TAIWAN',
 'KENYA',
 'ST HELENA, BRITISH OVERSEAS TERRITORY',
 'MARSHALL ISLANDS',
 'SOUTHWEST PACIFIC OCEAN',
 'CUBA',
 'GUYANA',
 'SENEGAL',
 'VENEZUELA',
 'MEDITERRANEAN SEA',
 'COAST OF AFRICA',
 'UNITED ARAB EMIRATES',
 'CARIBBEAN SEA',
 'RED SEA',
 'CAYMAN ISLANDS',
 'NEVIS',
 'ANDAMAN / NICOBAR ISLANDAS',
 'MID-PACIFC OCEAN',
 'LIBYA',
 'ANGOLA',
 'INDIA',
 'COOK ISLANDS',
 'GUAM',
 'NORTH ATLANTIC OCEAN',
 'INDONESIA',
 'ECUADOR',
 'TUVALU',
 'BURMA',
 'SYRIA',
 'JAMAICA',
 'IRAN',
 'BRITISH NEW GUINEA',
 'AFRICA',
 'VANUATU',
 'SOUTH AFRICA',
 'ST. MAARTIN',
 'PHILIPPINES',
 'MALAYSIA',
 'COLUMBIA',
 'MALTA',
 'PANAMA',
 'CYPRUS',
 'CANADA',
 'MADAGASCAR']

### Cleaning column "Age"

In [77]:
sharks.Age.value_counts()

17                154
18                150
19                142
20                141
15                139
                 ...
46 & 34             1
adult               1
                    1
13 or 14            1
7      &    31      1
Name: Age, Length: 157, dtype: int64

In [78]:
list_age=list(set(sharks.Age))
list_age

[nan,
 '9 or 10',
 '21',
 '64',
 '42',
 '23 & 26',
 '20s',
 '50',
 '60s',
 '28',
 '40s',
 'Teen',
 '8 or 10',
 '66',
 '9',
 '7',
 '50s',
 '61',
 '45',
 '6�',
 '15',
 ' 30',
 '22',
 '11',
 '28 & 26',
 '2�',
 '70',
 '25 to 35',
 '16',
 '60',
 '35',
 'mid-30s',
 '53',
 '23 & 20',
 '21 & ?',
 '39',
 '13 or 18',
 '31 or 33',
 'Elderly',
 '59',
 '49',
 '55',
 '13 or 14',
 '52',
 '51',
 '20 ',
 '>50',
 'adult',
 'MAKE LINE GREEN',
 '75',
 '28, 23 & 30',
 '77',
 '71',
 '27',
 '2 to 3 months',
 '37',
 'young',
 ' ',
 '21, 34,24 & 35',
 '17 & 35',
 '13',
 '45 ',
 '8',
 '32 & 30',
 '30',
 '87',
 '19',
 '16 to 18',
 '47',
 '73',
 '9 & 12',
 '34',
 '10 or 12',
 '82',
 '20?',
 '67',
 '36',
 '12 or 13',
 '23',
 '18 to 22',
 '37, 67, 35, 27,  ? & 27',
 '30 & 32',
 '41',
 '12',
 '30 or 36',
 '3',
 'teen',
 '43',
 ' 43',
 '� ',
 'Both 11',
 '18 months',
 '29',
 '25 or 28',
 '20',
 '7 or 8',
 '9 months',
 'A.M.',
 '33 or 37',
 '25',
 'Ca. 33',
 '65',
 '58',
 '33',
 '?    &   14',
 '17',
 '34 & 19',
 '46',
 '57',
 '46 & 34',
 '36 & 23',
 '24',
 '1',
 '30s',
 '50 & 30',
 '74',
 '74 ',
 '72',
 '10',
 '56',
 '44',
 '36 & 26',
 '7      &    31',
 '84',
 '69',
 '(adult)',
 ' 28',
 '14',
 'mid-20s',
 '21 or 26',
 '31',
 '26',
 '33 & 37',
 '17 & 16',
 '5',
 '78',
 '81',
 'F',
 '54',
 '32',
 '33 & 26',
 '  ',
 '86',
 '"young"',
 '38',
 'Teens',
 '63',
 '18 or 20',
 '18',
 '48',
 '? & 19',
 'X',
 "60's",
 '40',
 '62',
 '"middle-age"',
 '68',
 '6']

In [79]:
sharks.loc[sharks["Age"]=='37, 67, 35, 27,  ? & 27'].index.repeat(4)

Int64Index([3986, 3986, 3986, 3986], dtype='int64')

In [105]:
sharks=sharks.append(sharks.loc[sharks["Age"]=='37, 67, 35, 27,  ? & 27'], ignore_index=True)

In [106]:
sharks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,Activity_clean
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",PADDLING,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,PADDLING
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",STANDING,Adyson�McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,STANDING
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",SURFING,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,SURFING
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,SURFING,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,SURFING
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,FREE DIVING,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,DIVING
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6306,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,"Paul Timothy Lovette, Dr. Neal Beardsley, Jame...",M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6307,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,"Paul Timothy Lovette, Dr. Neal Beardsley, Jame...",M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6308,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,"Paul Timothy Lovette, Dr. Neal Beardsley, Jame...",M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6309,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,"Paul Timothy Lovette, Dr. Neal Beardsley, Jame...",M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6310,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,"Paul Timothy Lovette, Dr. Neal Beardsley, Jame...",M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING

In [107]:
sharks.loc[sharks["Age"]=='37, 67, 35, 27,  ? & 27']

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,Activity_clean
3986,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,"Paul Timothy Lovette, Dr. Neal Beardsley, Jame...",M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6302,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,"Paul Timothy Lovette, Dr. Neal Beardsley, Jame...",M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6303,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,"Paul Timothy Lovette, Dr. Neal Beardsley, Jame...",M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6304,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,"Paul Timothy Lovette, Dr. Neal Beardsley, Jame...",M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6305,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,"Paul Timothy Lovette, Dr. Neal Beardsley, Jame...",M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6306,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,"Paul Timothy Lovette, Dr. Neal Beardsley, Jame...",M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6307,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,"Paul Timothy Lovette, Dr. Neal Beardsley, Jame...",M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6308,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,"Paul Timothy Lovette, Dr. Neal Beardsley, Jame...",M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6309,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,"Paul Timothy Lovette, Dr. Neal Beardsley, Jame...",M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6310,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,"Paul Timothy Lovette, Dr. Neal Beardsley, Jame...",M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING

In [108]:
list_of_indexes = list(sharks[sharks["Age"]=='37, 67, 35, 27,  ? & 27'].index)
list_of_indexes = list_of_indexes[6:]
list_of_indexes

[6307, 6308, 6309, 6310]

In [109]:
for i in list_of_indexes:
    sharks.drop(i,inplace=True)
sharks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,Activity_clean
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",PADDLING,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,PADDLING
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",STANDING,Adyson�McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,STANDING
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",SURFING,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,SURFING
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,SURFING,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,SURFING
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,FREE DIVING,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,DIVING
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6302,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,"Paul Timothy Lovette, Dr. Neal Beardsley, Jame...",M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6303,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,"Paul Timothy Lovette, Dr. Neal Beardsley, Jame...",M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6304,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,"Paul Timothy Lovette, Dr. Neal Beardsley, Jame...",M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6305,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,"Paul Timothy Lovette, Dr. Neal Beardsley, Jame...",M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6306,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,"Paul Timothy Lovette, Dr. Neal Beardsley, Jame...",M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING

In [110]:
sharks.loc[3986,"Name"]

"Paul Timothy Lovette, Dr. Neal Beardsley, James C. Russell, Harold H. Mackie, Dale Howard & Diego J. Terres on 42' Navy craft, Marie"

In [111]:
sharks.loc[3986,"Name"] = "Paul Timothy Lovette"
sharks.loc[6302,"Name"] = "Dr. Neal Beardsley"
sharks.loc[6303,"Name"] = "James C. Russell"
sharks.loc[6304,"Name"] = "Harold H. Mackie"
sharks.loc[6305,"Name"] = "Dale Howard"
sharks.loc[6306,"Name"] = "Diego J. Terres"

In [112]:
sharks.loc[sharks["Age"]=='37, 67, 35, 27,  ? & 27']

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,Activity_clean
3986,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,Paul Timothy Lovette,M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6302,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,Dr. Neal Beardsley,M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6303,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,James C. Russell,M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6304,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,Harold H. Mackie,M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6305,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,Dale Howard,M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING
6306,1960.06.07,07-Jun-1960,1960,Invalid,USA,California,"10 miles off Santa Barbara, Santa Barbara County",TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...,Diego J. Terres,M,"37, 67, 35, 27, ? & 27","Legs & arms bitten, coroner unable to determin...",UNKNOWN,NaN,Shark involvement prior to death was not confi...,"L.A. Times, 6/10/1960; L. Schultz & M. Malin, ...",1960.06.07-Raytheon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,TESTING

In [113]:
sharks.loc[3986,"Age"]

'37, 67, 35, 27,  ? & 27'

In [115]:
sharks.loc[3986,"Age"] = '37'
sharks.loc[6302,"Age"] = '67'
sharks.loc[6303,"Age"] = '35'
sharks.loc[6304,"Age"] = '27'
sharks.loc[6305,"Age"] = ''
sharks.loc[6306,"Age"] = "27"

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex, Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href, Activity_clean]
Index: []

In [116]:
sharks[sharks["Age"]=='7      &    31']

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,Activity_clean
2422,1994.09.11.R,Reported 11-Sep-1994,1994,Sea Disaster,USA,Florida,Florida Straits,ADRIFT ON REFUGEE RAFT,2 Cuban brothers,M,7 & 31,FATAL,Y,NaN,NaN,"Sunday Herald Sun, 9/11/1994, p.25",1994.09.11.R-CubanRefugees.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,UNKNOWN

In [ ]:
sharks[sharks["Age"]=='7      &    31']

After all, the best way to clean this data would be by creating category of bins, such as:

- Age <  10
- Age <= 20
- Age <= 30
- Age <= 50
- Age <= 70
- Age >  70

### Cleaning column “Activity"

In [85]:
sharks.Activity.isna().sum()

544

In [86]:
sharks.Activity.value_counts()

Surfing                                             971
Swimming                                            869
Fishing                                             431
Spearfishing                                        333
Bathing                                             162
                                                   ...
Climbing back on ship                                 1
Unknown, their unoccupied yawlboat was recovered      1
Fell overboard from the ship Gem                      1
Scuba diving & filming                                1
Knocked into the water                                1
Name: Activity, Length: 1532, dtype: int64

In [87]:
sharks.Activity=sharks.Activity.fillna(value="Unknown")

In [88]:
sharks.Activity = sharks.Activity.str.upper()
sharks.Activity

0                                                PADDLING
1                                                STANDING
2                                                 SURFING
3                                                 SURFING
4                                             FREE DIVING
                              ...
6301                                             SWIMMING
6302    TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...
6303    TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...
6304    TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...
6305    TESTING CLASSIFIED UNDERWATER ELECTRONIC GEAR ...
Name: Activity, Length: 6306, dtype: object

In [89]:
sharks.Activity.value_counts()

SURFING                                         971
SWIMMING                                        869
UNKNOWN                                         547
FISHING                                         431
SPEARFISHING                                    333
                                               ...
FREE DIVING WITH SEALS                            1
FISHING FOR ROCK LOBSTER                          1
JERKED OVERBOARD WHILE POLE FISHING FOR TUNA      1
DIVING FOR PEARL SHELL                            1
SURFING, SITTING ON BOARD                         1
Name: Activity, Length: 1504, dtype: int64

In [90]:
list_activity=list(set(sharks.Activity))
list_activity

['SPEARFISHING USING SCUBA & TRAILING A STRING OF BLEEDING FISH',
 'THE MV DONA MARILYN SANK IN TYPHOON UNSANG WITH THE LOSS OF 389 LIVES',
 'SWIMMING NEAR CANOE',
 'WRECK OF THE STATE OIL COMPANY SHIP PERMINA',
 'SWIMMING FROM SHORE TO ANCHORED SAILBOAT',
 'SWIMMING BETWEEN  ANCHORED  PEARLING LUGGERS',
 'CLEANING THE SIDE OF A SHIP',
 'TZENNY CHANDRIS, A GREEK FREIGHTER LADEN WITH SCRAP IRON, FOUNDERED IN HEAVY WEATHER',
 'HARDHAT DIVING ',
 'COLLECTING FISH ',
 'BATHING IN KNEE-DEEP WATER',
 'COPRA VESSEL WITH 19 ON BOARD WAS WRECKED IN A SQUALL',
 'CROSSING THE RIVER MOUTH',
 'COLLECTING FISH FROM NET',
 'SURFING ON "CHEST BOARD" (BOOGIE BOARD?)',
 'SPONGE DIVING',
 'WENT OVER SIDE OF BOAT AT TROCHUS GROUND',
 'FLOATING WITH LIFE BUOY AFTER PILOT LAUNCH CAPSIZED',
 'SWIMMING / FLOATING ON HIS BACK',
 'SWIMMING TO MAIL BOAT',
 'SWIMMING IN POOL FORMED BY CONSTRUCTION OF A WHARF',
 'SPEARFISHING & HAD JUST SPEARED A ULUA',
 'BATHING OR BODY SURFING ',
 'YACHT RACE',
 'SPEARFISHING, CARRYING FISH ON SPEAR',
 'DIVING FOR ABALONE',
 'ON DECEMBER 28, 1908, AN EARTHQUAKE, FOLLOWED BY TSUNAMIS, DESTROYED COASTAL TOWNS IN SILCILY AND SOUTHERN ITALY, KILLING MORE THAN 100,000 PEOPLE',
 'WADING, FISHING FOR FLOUNDER',
 "STANDING ON LANDED SHARK'S TAIL",
 'SPEARFISHING, SMITH  & WALKER TOUCHED SHARK WITH TIP OF THEIR GUNS',
 'ATTEMPTING TO RESCUE WOMAN SEIZED BY SHARK',
 'FERRY BOAT DONA PAZ WITH 4431 PASSENGERS EXPLODED & CAUGHT FIRE WHEN SHE COLLIDED WITH AN  OIL TANKER ',
 'BOAT WITH 5 MEN CAPSIZED WHILE RETURNING TO THE AMERIQUE',
 'ATTEMPTING TO NET SHARK IN SHARK CHANNEL',
 'SWIMMING 10 M FROM SHORE',
 'FREE DIVING, COLLECTING SHELLS',
 'FELL OVERBOARD FROM THE STEAMSHIP CHALA',
 "SHIP'S BOAT CAPSIZED IN SQUALL, CAPTAIN & 2 SAILORS CLINGING ONTO HULL",
 'SWIMMING ASHORE FROM A "FILIBUSTER"',
 'LYING IN 2 FEET OF WATER',
 'JUMPED OVERBOARD',
 'NET FISHING, FELL INTO THE WATER',
 'WALKING',
 'SPEARFISHING (FREE DIVING)',
 '3.3 M FISHING BOAT SANK. TREVELUWE & PETER HODGSON (WEARING LIFEJACKETS) WERE DRIFTING IN THE CURRENT',
 'FELL OVERBOARD FROM SS RIPLEY CASTLE',
 'SPEARFISHING (BUT TREADING WATER ON THE SURFACE)',
 'FISHING, PROBABLY WITH A NET',
 'WALKING OUT OF THE WATER AFTER SURFING',
 'BATHING',
 'FISHING BOAT SWAMPED IN STORM',
 'SWIMMING, AFTER FALLING OVERBOARD',
 'FREE DIVING SPEARFISHING',
 'WAKEBOARDING',
 'M.V. TROPICAL SANK. SOLE SURVIVOR RODE OIL DRUMS FOR 8 DAYS WITHOUT FOOD OR WATER.',
 'CONDUCTING RESEARCH',
 'ATTEMPTING TO CATCH A CROCODILE',
 'EJECTED FROM F3H-2 AIRCRAFT ',
 '"CROSSING THE RIVER"',
 'BODY BOARDING ',
 'COLUMBIAN PETROL BARGE RIO ATRATO BURNED AND SANK',
 "ON BOARD 51' FISHING VESSEL ONE KI",
 'SEAPLANE COLUMBUS DITCHED IN THE SEA',
 'SURFING ',
 'FISHING TRAWLER FLAVIO GIOIA ',
 "FISHING WITH HAND NET IN 2' OF WATER",
 'SS ETHEL SKAKEL FOUNDERED IN CENTRAL AMERICA HURRICANE OF 1941',
 'UNKNOWN',
 'SWIMMING AFTER BOAT BECAME DISABLED',
 'FELL OVERBOARD & RESCUER',
 'BITTEN AFTER DHOW SHIPWRECKED',
 'FREE DIVING FOR SINKERS',
 'HOLDING ONTO AN INFLATABLE BOAT',
 'LYING ATOP SURFBOARD',
 'MURDER VICTIM',
 'SHIPWRECKED PEARLING SCHOONER',
 'SPEARFISHING ON SCUBA & TRANSFERRING FISH ONTO A STRINGER',
 'STAMDING',
 'ROWING A DINGHY',
 'BOAT CAPSIZED, CLINGING TO LINE',
 'SKINDIVING',
 'FISHING, TOSSING NETTED SHARK ONBOARD',
 'PLAYING IN THE SURF',
 'DIVING, FEEDING SHARKS',
 'FREE DIVING / SPEARFISHING, ',
 'SCULLING',
 'FELL ONTO DEAD SHARK',
 'COMMERCIAL SALVAGE DIVING',
 'STANDING',
 'FISHING FOR OCTOPUS',
 'ATTEMPTING TO RESCUE AN INJURED & BEACHED SHARK',
 'SCUBA DIVING FOR LOBSTERS',
 'CLEANING A TANK',
 'RACING SKI',
 'FOUNDERING OF THE ISRAELI FREIGHTER MEZADA',
 'DIVING & FORCE-FEEDING THE SHARK',
 'BOARDING A SHIP',
 'AIRCAFT EXPLODED',
 'MOVING A SHARK IN A NET ',
 'FEEDING FISH',
 'FREE DIVING FOR CRAYFISH',
 'SWIMMING AFTER A TENNIS BALL',
 'GAFFING & ATTEMPTING TO BRING ONBOARD A HARPOONED SHARK',
 'SITTING IN SHALLOWS',
 'PLAYING IN KNEE-DEEP WATER',
 'SWIMMING FROM CAPSIZED PIROGUE',
 'FELL OFF SURF SKI',
 'CAGE DIVING',
 'IN BOAT BEING TOWED BY SHIP, KARNAK',
 'SKIN DIVING ',
 'LONGLINE FISHING FOR SHARKS',
 'DIVING, PHOTOGRAPHING SHARKS',
 'BOAT, WITH 42 PASSENGERS ONBOARD, CAPSIZED IN ROUGH SEAS',
 'WRECK OF THE 1308-TON NORWEGIAN SHIP AUCKLAND',
 "DIVING FOR TROCHUS  FROM DINGHY WHEN SEIZED BY SHARK 6' BELOW THE SURFACE",
 'THE 168-TON BELMORE FOUNDERED IN HEAVY SEAS',
 'FELL FROM CLIFF WHILE FISHING & DISAPPEARED IN STRONG CURRENT',
 'THE SS POTLACH WAS TORPEDOED & SUNK BY THE U-153 ON 27-JUN-1942. ',
 'REVIVING A SEDATED SHARK',
 'SWIMMING TO SHORE AFTER BOAT CAPSIZED BY A SQUALL',
 'PULLING ANCHOR',
 'SWIMMING FROM FISHING BOAT SETTING NETS',
 'AIR DISASTER - PIPER AIRCRAFT CRASHED INTO THE SEA, KILLING ALL ON BOARD',
 'HELPING MEN LAND A SHARK',
 'SPEARFISHING',
 'COLLECTING FISH BY LAMPLIGHT IN GULLY',
 'SURF BATHING',
 'SHIPWRECKED; ADRIFT ON RAFT FOR 2 DAYS & 2 NIGHTS',
 'FISHING WITH DYNAMITE, AFTERWARDS IN WATER RETRIEVING CATCH',
 'SWIMMING ALONGSIDE YACHT MEXICO FIESTA',
 'SWIMMING NEAR HIS BOAT',
 'THE 500-TON COASTAL TRADER POLURRIAN FOUNDERED ',
 'COMING ASHORE ON A HAWSER',
 'SPEARFISHING / FREEDIVING',
 'ON A "SHARK HUNT"',
 'LYING ON SURFBOARD',
 'BOAT SWAMPED',
 'SCUBA DIVING, HAND FEEDING SHARKS',
 'FREEDIVING FOR SEASHELLS',
 'FLOATING ON HIS BACK IN AN INNER TUBE',
 'NETTING SHARKS',
 'BRITISH PATROL BOAT 1250-TON HMS  VALERIAN FOUNDERED IN A HURRICANE',
 'KITE SURFING',
 'STEINHART AQUARIUM',
 'HAULING IN NET WITH SHARK IN IT',
 'FREE DIVING, SURVEYING A PIPELINE & EXAMING CATHODES UNDER JETTY',
 'HILO',
 'AIR DISASTER',
 'CHUMMING FOR WHITE SHARKS',
 'FISHING IN ALABAMA DEEP FISHING RODEO',
 'SCUBA DIVING, REPORTEDLY ALSO SPEARFISHING',
 'SURFING',
 'DRY SHELLING',
 'DIVING',
 'WASHED OVERBOARD',
 'SPEARFISHING USING SCUBA',
 'HUNTING SHARKS',
 'FREE DIVING',
 'HARD HAT DIVING',
 'CROSSING RIVER ON A RAFT',
 'FLOATING ON INNER TUBE AFTER DIVING FOR LOBSTER',
 'SCALLOP DIVING ON HOOKAH',
 'WADING?',
 'USS JOHNSTON DD 557 SUNK ON 10/24/1944 IN THE BATTLE OFF SAMARA. CREWMEN WERE SWIMMING BESIDE A RAFT.',
 'SWIMMING NEAR JETTY',
 'SURFING, FELL OFF SURFBOARD & STEPPED ON THE SHARK.',
 'DIVING FOR TROCHUS SHELL',
 'SITTING IN A BOAT',
 'WRECK OF THE STORM KING',
 'PETTING CAPTIVE SHARKS',
 'HUNTING SEALS',
 'SWIMMING ASHORE FROM SWAMPED 13-FT BOAT',
 'BOAT CAPSIZED, SWIMMING TO SHORE',
 'SWIMMING AFTER BEING SWEPT INTO SEA BY A LARGE WAVE',
 'SEA DISASTER, SINKING OF THE MOTORSHIP WINGATE',
 'SWIMMING AFTER FALLING OVERBOARD FROM THE SEALING SHIP VESPER',
 'PLACED HAND IN DISEMBOWELED SHARK�S JAWS',
 'TRAVELING BY BOAT',
 'SWIMMING TO SHORE WITH FLOATIOON DEVICES AFTER BOAT ENGINE CONKED OUT',
 'YACHT OF MICHAEL HOWELL CAPSIZED',
 'MOVING SHARK FROM TUNA VESSEL WHEN BOAT ROLLED, PLACING BOTH MAN & SHARK IN CHEST-DEEP WATER',
 'PLAYING',
 'FLOATING NEAR BOAT & OBSERVING BIOLUMINESCE',
 'CATCHING SARDINES',
 'FLEET OF CANOES CAUGHT BY A SQUALL AND CHARGED BY SHARKS.',
 'SAILING ON CATAMARAN & FELL INTO THE WATER',
 "LYING ON THE BOTTOM OF A 16' DINGHY",
 'SWIMMING CRAWL STROKE',
 'WINDSURFING',
 'BOAT FROM THE AUSTRIAN SHIP ELIZABETH',
 'REMOVING SHARK FROM A TRAP',
 'FISHING (ROD & LINE)',
 'DIVING FOR TROCHUS FROM LUGGER',
 'A JUNK FOUNDERED',
 'VESSEL CAPSIZED, WADING ASHORE CARRYING AN OAR',
 'DIVING / FILMING',
 'THE STEAMER TAHITI COLLIDED WITH THE FERRY GREYCLIFFE',
 "PUSHED SURFMAT OF A YOUNG GIRL OUT OF THE SHARK'S PATH, DRAWING SHARK'S ATTENTION TO HIS OWN BOARD",
 'STANDING IN WATER WITH CHILD IN HER ARMS',
 'FREE DIVING BUT TREADING WATER AT SURFACE',
 "ONBOARD 21' POWERBOAT THAT CAPSIZED IN ROUGH SEAS",
 'H.M.S. CORNWALL & H.M.S.DORSETSHIRE SUNK BY JAPANESE DIVE BOMBERS. OFFICERS & MEN IN THE WATER FORMED A CIRCLE WITH 60 OF THEIR DEAD IN THE CENTER FOR 36 HOURS',
 "FISHING, STEPPED ON HOOKED SHARK'S HEAD",
 'ATTEMPTING TO ESCAPE BY SWIMMING TO SHORE',
 'TRAILING HAND IN THE WATER',
 'R5D AIRCRAFT WENT DOWN WITH 29 ON BOARD',
 'SWIMMING. PASSER-BY, LEN BEDFORD, HEARD HIM SHRIEK , SAW SHARK LEAP FROM THE WATER & SWIMMER DISAPPEARED',
 'WALKING / SURFING',
 'OBSERVING A SHARK FEEDING ON A CARCASS OF A HUMPBACK WHALE',
 'FREE DIVING FOR ABALONE (SURFACING)',
 'DITCHED PLANE IN THE SEA & WERE ADRIFT ON A RUBBER LIFE RAFT. ',
 'BATHING ALONGSIDE US NAVAL SHIP',
 'WASHED OVERBOARD BY SWELL',
 'SEA DISASTER : WRECK OF THE CARRIE E. LONG',
 'UNDERWATER PHOTOGRAPHY',
 'FISHING FOR TROUT ',
 'SKINDIVING FOR ABALONE (BUT AT SURFACE)',
 'RETRIEVING BAIT BOX THAT HAD FALLEN OVERBOARD',
 'DIVING / FISHING',
 'SURFING / WADING',
 'SKINDIVING FOR SPECIMENS',
 'FEEDING PRAWNS TO CAPTIVE SHARKS',
 'WHEN  A DECKHAND  JUMPED OVERBOARD, MCIVER DIVED AFTER HIM WITH A RESCUE LINE.',
 'TECH DIVING ',
 'KITEBOARDING',
 'SCUBA DIVING (BUT ON SURFACE)',
 'SURFING (SITTING ON HIS BOARD)',
 'PREPARING TO FISH FOR JACK-MACKEREL',
 'MALE',
 'FELL OVERBOARD FROM A FRIGATE & WAS SWALLOWED BY A SHARK. THE CAPTAIN FIRED A GUN AT THE SHARK, AND "THE CREATURE CAST THE MAN OUT OF HIS THROAT."',
 'SURFING, BUT SWIMMING TO HIS BOARD',
 'PLAYING / JUMPING',
 'MAN FELL OVERBOARD FROM SHIP. THOSE ON BOARD THREW A ROPE TO HIM WITH A WOODEN BLOCK & WERE PULLING HIM TO THE SHIP',
 'CARGO SHIP EL GAMIL ENTROUTE SUEZ TO YEMEN (ADEN) WHEN HER CARGO SHIFTED AND SHE SANK. 19 EGYPTION SAILORS JUMPED INTO THE WATER AND SWAM FOR SEVERAL HOURS BEFORE BEING BITTEN BY SHARKS',
 'SWIMMING NEAR PIER',
 'JUMPED OFF ROCKS INTO WHITE WATER',
 'KILLING  SHARKS',
 'SWIMMING /  BOOGIE BOARDING',
 'SWIMMING AFTER THEIR BOAT CAPSIZED',
 'RIDING HORSEBACK ACROSS THE CREEK',
 'SWIMMING A QUARTER MILE OFFSHORE',
 'A 75-TON  JAPANESE FISHING SHIP WAS SUNK BY  CHINESE NATIONALIST GUNBOAT, SHIPWRECKED MEN WERE CLINGING TO DEBRIS',
 'THE WORLD LIBERTY AND THE TANKER MOSLI COLLIDED. THE  HALCYON BREEZE SENT A LIFEBOAT TO THE RESCUE, BUT IT WAS SMASHED, THROWING 6 MEN IN THE  WATER.',
 'CATCHING CRABS',
 'CLINGING TO SHIPWRECKED JUNK',
 'FREE DIVING, COLLECTING SAND DOLLARS',
 'SURFING, PUSHING BOARD ASHORE',
 'FISHING, HOLDING FISH IN HIS LEFT HAND',
 'FISHING ',
 'SPEARFISHING WITH SCUBA GEAR',
 'S.S. MARINE SULPHUR QUEEN, LADEN WITH MOLTEN SULPHUR WAS BOUND FROM BEAUMONT, TEXAS FOR NORFOLK, VA, WHEN SHE DISAPPEARED WITH 39 ON BOARD',
 'FISHING, HOOKED SHARK TOWED BOAT OUT TO SEA, STORM SWAMPED BOAT',
 'KITESURFING',
 'HIKING ON THE BEACH',
 'BODY SURFING, STOOD UP ON SANDBAR',
 'ADRIFT AFTER WAVE SWAMPED ENGINE',
 'FISHING FOR KOB',
 'FISHING, THROWN INTO WATER BY HEAVY SEA, CLINGING TO ROCKS AT THE WATER LINE',
 'STANDING ON HIS HANDS',
 'DROPPED OVERBOARD',
 'SPEARFISHING WITH JOE TURNER (24). SHARK ATTRACTED TO SPEARED HALIBUT ON BELT OF ONE DIVER, TRIED TO BITE IDE�S SPEARGUN & HE SHOT IT IN THE MOUTH',
 'HUNTING CRAYFISH ',
 'SPEARFISHING & DIVING FOR PAUA',
 'SWIMMING & SPLASHING',
 'SWEPT OFF DECK OF S.S.FRONTENAC ENROUTE FROM WEST INDIES TO US',
 'WASHING COOKING PANS',
 'SLIPPED OFF ROCKS AND FELL INTO THE WATER',
 'SPEARFISHING, SCUBA DIVING',
 'THE BRITISH STEAMER CARIBBEE FOUNDERED',
 'TORPEDOED & BURNING BRITISH  LIGHT CRUISER WITH A CREW OF 450 MEN',
 'HOISTING SHARK ABOARD FISHING BOAT',
 'SLAPPED SHARK ON TAIL AS IT SWAM BY',
 'FISHING, REMOVING THE SHARK FROM HIS LINE',
 'SCALLOP DIVING (USING SURFACE-SUPPLIED AIR & A POD) ',
 "40' FISHING BOAT SANK",
 'FISHING, ON CHARTER BOAT SILVER DOLLAR',
 'BODY-BOARDING',
 'PADDLE-BOARDING',
 'WADING OR SWIMMING',
 'HOOKAH DIVING FOR ABALONE (SUBMERGED)',
 'BATHING / STANDING',
 'CREW SWIMMING ALONGSIDE THEIR ANCHORED SHIP',
 'BODY SURFING ',
 'ARGENTINE AIR FORCE C-54',
 'LOST HIS FOOTING & FELL OVERBOARD',
 'CANOE SWAMPED, SWIMMING BACK TO CANOE',
 'SWIMMING ASHORE FROM FISHING BOAT SWAMPED AND SUNK BY A SQUALL',
 'SWIMMING IN SECTION OF RIVER USED FOR WASHING CLOTHES & COOKING UTENSILS',
 'ADRIFT ON RAFT AFTER THEIR SHIP WAS SUNK BY AN AXIS RAIDER ',
 'HE DROWNED WHEN BOAT CAPSIZED',
 'FISHING BOAT SWAMPED IN A STORM',
 'FISHING, TRYING TO CATCH THE END OF HIS FISHING LINE',
 'FREE DIVING , BUT SURFACING',
 'MURDER',
 'TESTING ANTI-SHARK CAGE',
 'THE SCHOONER ELIZABETH, BOUND FROM BLUEFIELDS, NICARAGUA TO THE RIVER PORT OF SAN CARLOS FOUNDERED',
 'ADRIFT ON REFUGEE RAFT',
 'THE SHRIMPER LOLESS MAURINE CAPSIZED IN HEAVY SEAS & THE MEN WERE SWIMMING ASHORE  ',
 "FISHING, REMOVING GAFF FROM SHARK'S MOUTH",
 "FISHING, CAUGHT A 15' SHARK & TOOK IT ONBOARD",
 'SWIMMING, AFTER SINGLE-ENGINE AIRCRAFT WENT DOWN IN THE SEA',
 'B-24 CRASHED DURING A SEARCH MISSION. SURVIVORS IN RAFT FOR 47 DAYS ',
 "HOLDING SHARK'S TAIL ",
 'LAUNCHING A BOAT',
 "SPEARFISHING, HOLDING 5' SPEARED FISH",
 'CLAMMING',
 'BATHER',
 'DRAGGING A SHARK',
 'PEARL DIVING FROM LUGGER WHYALLA',
 'WRECK OF THE SCHOONER DRIVER',
 'SHIP MARISTON TORPEDOED & SUNK',
 'COMMERCIAL SPEARFISHING',
 'FISHING FROM SURFBOARD',
 'WATER-SKIING',
 'SPEAR FISHING',
 'PUT FOOT INSIDE MOUTH OF SUPPOSEDLY DEAD SHARK',
 'CAPSIZED FISHING BOAT',
 'STANDING, WASHING REAR WHEELS OF HIS AMBULANCE IN ANKLE-DEEP WATER',
 'FISHING (ILLEGALLY)',
 'FREE DIVING, HUNTING CRAYFISH',
 'SHARK DIVING',
 'FISHING,  TARPON BEING CHASED BY SHARK  LEAPT ACROSS HIS SKIFF, BREAKING IT IN HALF & LARKIN BECAME TANGLED IN THE NET',
 'SKINDIVING, FISH AT BELT',
 'SPEARFISHING, SHOT A TURTLE',
 'FISHING  (TRAWLING)',
 'HUNTING LOBSTERS IN 2.4 M OF WATER',
 'HAND LINING FOR SHAD',
 'LANDING HOOKED SHARK IN BOAT',
 'FREE DIVING FOR TROCHUS SHELL, SWIMMING TO DINGHY',
 'SETTING CRAYFISH POTS',
 'SURFING, FELL OFF SURFBOARD',
 'FEEDING A SHARK',
 'TOUCHING A SHARK',
 'HUNTING TURTLE',
 'SHARK TAGGING',
 "SINKING OF THE 40' ESPERANZA OFF ST. MAARTIN WITH 36 REFUGEES ON BOARD",
 'LOBSTER DIVING USING SCUBA',
 'ON INFLATABLE RAFT',
 'SWIMMING BREAST STOKE',
 'SURFING, BUT STANDING IN WATER ALONGSIDE BOARD',
 'CHECKING FISH TRAPS, FELL INTO THE WATER',
 '"FLYING TIGER" TRANSPORT PLANE WENT DOWN WITH 5 MEN ONBOARD',
 'SMALL BOAT',
 'WASHING HIS FEET',
 'PADDLING & SAILING FROM BUENOS AIRES TO MIAMI',
 'CLOSED CIRCUIT DIVING (SUBMERGED). DIVING TO RECOVER JETTISONED PACKETS OF OPIUM FOR POLICE',
 'THE STEAMSHIP BONNIE DUNDEE LOST IN COLLISION',
 'JAPANESE AIRCRAFT SHOT DOWN. HE WAS ONE OF TWO SURVIVORS RESCUED BY THE U.S. DESTROYER MUGFORD',
 'RESCUING',
 'FISHING FOR TUNNY',
 'WRECK / TECHNICAL DIVING',
 ' A CANOE WAS PURSUING A SCHOONER THAT HAD FORCIBILY ABDUCTED 5 YOUNG GIRLS',
 'PLAYING SOCCER IN THE WATER',
 'FISHING FROM DINGHY',
 'DIVING FOR LOBSTERS',
 'ROW BOAT (FROM THE GUNBOAT ELCANO) WAS SINKING, PUT FINGER IN HOLE',
 "A CORSAIR'S BOAT WAS OVERTURNED",
 'STANDING IN WAIST-DEEP WATER',
 'DRAGGING STRANDED SHARK ASHORE',
 'BODY SURFING OR BOOGIE BOARDING',
 'SWIMMING AFTER HIS CANOE CAPSIZED',
 'FLOATING FACE-DOWN IN KNEE-DEEP WATER',
 'DIVING OFF WHARF',
 'STANDING / FISHING',
 'SWIMMING, CAUGHT IN STRONG BACKWASH & DISAPPEARED',
 'SHARK WATCHING',
 'ATTACHING A LINE AT SEA',
 'SHIP WILLIAM PENN GROUNDED & BROKE APART',
 'STANDING ON SANDBANK',
 'DIVING FOR SINKERS',
 'SURFING (OR BODY BOARDING)',
 'SNORKELING ON SURFACE',
 'THE COASTWISE STEAMER SAN BASILIO CAPSIZED IN A TYPHOON',
 'FISHING FROM ROCKS, SWEPT OUT TO SEA BY LARGE WAVE & TREADING WATER',
 'ATTEMPTING TO ATTRACT DOLPHINS',
 'BATHING WITH SISTER',
 'ATTEMPTING TO DRAG HOOKED SHARK ASHORE BY ITS TAIL',
 'SPEARFISHING/ FILMING',
 'SURFING (LYING PRONE ON HIS BOARD)',
 'CROUCHING IN THE WATER',
 'DIVING FROM LUGGER',
 'SINKING OF THE FERRYBOAT BONGBONG 1',
 'ON EXPEDITION FILMING A FEATURE MOVIE & STANDING ON TRIPOD',
 'SURF FISHING / WADING',
 'ON FISHING BOAT & TRAILING HAND IN THE WATER',
 'FELL FROM YARDARM OF BRITISH SHIP ROVER',
 'SPEARFISHING / SCUBA DIVING (AT SURFACE)',
 'FISHING (DROWNED 2-APR-2002)',
 'WRANGLING A SHARK',
 'DIVING FOR PEN SHELLS',
 'CRUISING',
 'OCEAN RACING',
 'JUMPED OUT OF CANOE',
 'HOLDING SHARK ON LEADER & DANGLING IT ABOVE THE WATER',
 'WRECK OF  LARGE DOUBLE SAILING CANOE',
 'SWIMMING IN STRONG CURRENT WITH 3 OTHERS WHEN HE DISAPPEARED',
 'TAGGING SHARKS',
 "SITTING IN 3' OF WATER",
 'FINNING THE SHARK THAT BIT HIM',
 'PACIFIC SEAFARER OF US NAVY',
 'BODY SURFING?',
 'THROWN INTO WATER FROM FISHING DINGHY',
 'TESTING MOVIE CAMERA IN FULL DIVING DRESS',
 'SWIMMING, POACHING ABALONE',
 'CLINGING TO OVERTURNED ROWING BOAT',
 'FISHING FOR SNAPPER',
 'FELL OVERBOARD FROM US NAVY PC BOAT',
 'SWIMMING ASHORE AFTER LAUNCH CAPSIZED',
 'WATCHING THE SHARK FEEDING ON A DEAD PINNIPED',
 'THE PACQUEBOT LACONIA, ENROUTE TO LIVERPOOL WITH 600 ITALIAN PRISONERS ONBOARD, WAS TORPEDOED BY THE GERMAN SUBMARINE  U-156 AND ONLY 2 RAFTS WERE LAUNCHED BEFORE THE SHIP WENT DOWN. UNABLE TO BOARD AN OVERCROWDED RAFT, HE WAS SWIMMING.',
 'DIVING FOR COINS TOSSED FROM PASSENGER SHIP',
 'FISHING BOAT',
 'SWIMMING FROM THE NEW VENTURE ',
 'GIGGING FOR FLOUNDER',
 'FISHING FOR PRAWNS',
 'STANDING, STEPPED ON SHARK',
 "OVERCOME BY CO FUMES, FELL OVERBOARD FROM 36' FISHING CRUISER & PROP SLASHED ARM",
 'EXERCISING HIS DOG IN THE SHALLOWS',
 'THE USS WAHOO TORPEDOES & SANK THE JAPANESE TROOP TRANSPORT BUYO MARU',
 'CLEANING HULL OF SHIP ',
 'JUMPING',
 'CRABBING',
 'FISHING FOR TURTLES',
 'FELL OVEBOARD FROM STEAMER WANDERER',
 'FELL OFF BANANA BOAT',
 'BODY FOUND ON DESERTED LUXURY YACHT, 38� CHRISTINE',
 'DIVING FROM DINGHY FOR TROCHUS SHELL',
 'PARACHUTED FROM BALLOON',
 'HOSPITAL SHIP CENTAUR TORPEDOED & SUNK BY THE JAPANESE SUBMARINE I-177',
 'DIVING (HELMET) FOR SPONGES',
 'SCUBA DIVING FOR ABALONE',
 'COLLECTING MARINE SPECIMENS',
 'FISHING, SLIPPED ON ROCKS & FELL INTO SEA',
 'SAILING FROM GINGOOD, MISAMIS ORIENTAL TO SAGAY (NORMALLY A 2-DAY VOYAGE) CAPSIZED WITH 6 ON BOARD, THREE MEN WERE TAKEN BY SHARKS WHEN THEY ATTEMPTED TO SWIM TO SHORE.',
 'AIRCRAFT DITCHED IN THE SEA, SWIMMING ASHORE',
 'WASHING HORSES',
 'SWEPT OUT TO SEA WHILE NET FISHING',
 'FELL OVERBOARD, PROP SLASHED ARM',
 'TAKING WIFE TO BEACH & ABOUT 1 M FROM THE SHORE',
 'SURFING ON AIR MATTRESS',
 'WENT OVERBOARD',
 'DYNAMITE FISHING',
 'A BARQUE WRECKED',
 'DIVED INTO A SCHOOL OF BAITFISH',
 'AIRCRAFT EXPLODED',
 'CONDUCTING A PROMOTIONAL FILM PROJECT FOR THE GEMINI SPACE PROGRAM (A PRACTICE ASTRONAUT RECOVERY)',
 'SWIMMING AFTER HIS HAT',
 'SWIMMING IN FISH TANK',
 'HIS SHIP, THE US DESTROYER DUNCAN DD 485, HAD BEEN  SUNK BY CROSSFIRE FROM JAPANESE WARSHIPS. HE WAS WEARING A KAPOK LIFEJACKET & USING 2 ALUMINUM POWDER TINS FOR FLOATATION  ',
 'KAYAKING (RETURNING FROM SPEARFISHING)',
 'FISHING, STANDING IN WATER NEXT TO PURSE NET',
 'DUTCH MERCHANT SHIP ZAANDAM TORPEDOED  BY THE U-174 AMIDSHIPS, SANK & DOZENS OF SURVIVORS TOOK TO RAFTS & BOATS. ONE MAN, IZZI, WHO DRIFTED 83 DAYS ON A RAFT RELATED THAT SHARKS ATTACKED MANY MEN IN THE WATER WHEN THE SHIP WENT DOWN',
 'HOOKAH DIVING FOR SEA URCHINS',
 'STANDING, GATHERING OYSTERS',
 'FELL OVERBOARD ',
 'BATHING ALONGSIDE THE AMERICAN SHIP THOMAS W. SEARS',
 'SWIMMING NEAR BREAKWATER',
 'COLLECTING SHELLS',
 'SPLASHING / WADING',
 "63' FISHING BOAT SNO' BAY FOUNDERED",
 'WRECK OF THE 150-TON BRIG MARIA',
 'DIVING FOR BECHE-DE-MER',
 'TAKEN AS HE DIVED INTO THE WATER',
 'ATTEMPTING TO RESCUE DROWNING MAN',
 'TAKING BOAT FROM CALIFORNIA TO FLORIDA WHEN IT RAN AGROUND & HE WAS SWIMMING BACK TO BOAT',
 'FISHING FOR SNOEK & YELLOWTAIL',
 'SURFING (PNEUMATIC SURFBOARD)',
 'ADRIFT ON LIFE RAFT',
 'DIVING FOR PEARL',
 'SWEPT OVERBOARD',
 "DIVING, REPAIRING WATER MAIN AT DEPTH OF 90'",
 'SURF FISHING',
 'PICKING UP SHARK BY THE TAIL',
 'SUICIDE',
 'IN RUBBER DINGHY WITH CAPTAIN EDDIE RICKENBACKER FOR 21 DAYS. ',
 '"BOAT ACCIDENT"',
 'FISHING BOAT CAPSIZED ',
 'FELL OR JUMPED OVERBOARD FROM THE LINER RHYNLAND',
 'ADRIFT IN A LIFE JACKET',
 '13 MEN IN THE WATER AFTER SAILBOAT CAPSIZED & SANK',
 'JUMPED OVERBOARD FROM TORPEDOED PANAMANIAN FREIGHTER',
 'SWIMMING, POACHING PERLEMOEN',
 'THE WARD LINER ESPERANZA STRANDED DURING A GALE & SHE LEAPT OVERBOARD TO RESCUE HER DOG WHICH HAD BEEN SWEPT OVERBOARD.',
 "FISHING - 'TAG & RELEASE'",
 'REPORTED SWEPT AWAY BY WAVES WHILE GATHERING OPIHI',
 'FREE-DIVING',
 'ON A FLOAT',
 'SPEARFISHING, PULLED SHARK�S TAIL',

In [91]:
Activity2=sharks.Activity.str.extract(r"((\w)+)(ING)\b",expand=False)
Activity2
#activity=activity.fillna(value="NOTHING")
#activity

          0  1    2
0     PADDL  L  ING
1     STAND  D  ING
2      SURF  F  ING
3      SURF  F  ING
4       DIV  V  ING
...     ... ..  ...
6301  SWIMM  M  ING
6302   TEST  T  ING
6303   TEST  T  ING
6304   TEST  T  ING
6305   TEST  T  ING

[6306 rows x 3 columns]

In [92]:
Activity2["concat"]=Activity2[0]+Activity2[2]
Activity2

          0  1    2    concat
0     PADDL  L  ING  PADDLING
1     STAND  D  ING  STANDING
2      SURF  F  ING   SURFING
3      SURF  F  ING   SURFING
4       DIV  V  ING    DIVING
...     ... ..  ...       ...
6301  SWIMM  M  ING  SWIMMING
6302   TEST  T  ING   TESTING
6303   TEST  T  ING   TESTING
6304   TEST  T  ING   TESTING
6305   TEST  T  ING   TESTING

[6306 rows x 4 columns]

In [93]:
sharks.loc[:,["Activity_clean"]]=Activity2.concat
sharks["Activity_clean"]

0       PADDLING
1       STANDING
2        SURFING
3        SURFING
4         DIVING
          ...
6301    SWIMMING
6302     TESTING
6303     TESTING
6304     TESTING
6305     TESTING
Name: Activity_clean, Length: 6306, dtype: object

In [94]:
sharks["Activity_clean"].fillna(value="UNKNOWN", inplace=True)
sharks["Activity_clean"]

0       PADDLING
1       STANDING
2        SURFING
3        SURFING
4         DIVING
          ...
6301    SWIMMING
6302     TESTING
6303     TESTING
6304     TESTING
6305     TESTING
Name: Activity_clean, Length: 6306, dtype: object

In [95]:
sharks["Activity_clean"].value_counts()

SWIMMING     1100
SURFING      1085
UNKNOWN       957
FISHING       711
DIVING        528
             ...
FLEEING         1
SITTTING        1
KING            1
EXPECTING       1
TRYING          1
Name: Activity_clean, Length: 190, dtype: int64

# Questions to be answered :

## Q1) How deadly are sharks ? (based on fatality cases)

In [96]:
sharks["Fatal (Y/N)"].value_counts()

N          4301
Y          1389
UNKNOWN     616
Name: Fatal (Y/N), dtype: int64

In [97]:
Deadly_Percentage = (sharks["Fatal (Y/N)"]=="Y").sum()/(sharks["Fatal (Y/N)"]).count()
(sharks["Fatal (Y/N)"]=="Y").sum()/(sharks["Fatal (Y/N)"]).count()

0.22026641294005708

In [98]:
print("Sharks are fatal at least for ", round(Deadly_Percentage*100,2), "% of the observations.")

Sharks are fatal at least for  22.03 % of the observations.

## Q2) Which country or region are most and the least (documentedly) affected by shark attacks?

In [99]:
sharks.Country.value_counts()

USA                        2233
AUSTRALIA                  1338
SOUTH AFRICA                579
PAPUA NEW GUINEA            134
NEW ZEALAND                 128
                           ...
PALESTINIAN TERRITORIES       1
CYPRUS                        1
COOK ISLANDS                  1
MID-PACIFC OCEAN              1
ANDAMAN ISLANDS               1
Name: Country, Length: 202, dtype: int64

##### And in percentage:

In [100]:
round(sharks.Country.value_counts()*100/sharks.Country.count(),2)

USA                        35.41
AUSTRALIA                  21.22
SOUTH AFRICA                9.18
PAPUA NEW GUINEA            2.12
NEW ZEALAND                 2.03
                           ...
PALESTINIAN TERRITORIES     0.02
CYPRUS                      0.02
COOK ISLANDS                0.02
MID-PACIFC OCEAN            0.02
ANDAMAN ISLANDS             0.02
Name: Country, Length: 202, dtype: float64

## Q3) Which activity is the one that is the most being effectuated during a shark attack ?

In [101]:
sharks.Activity_clean.value_counts()

SWIMMING     1100
SURFING      1085
UNKNOWN       957
FISHING       711
DIVING        528
             ...
FLEEING         1
SITTTING        1
KING            1
EXPECTING       1
TRYING          1
Name: Activity_clean, Length: 190, dtype: int64

And in percentage:

In [102]:
round(sharks.Activity_clean.value_counts()*100/sharks.Activity_clean.count(),2)

SWIMMING     17.44
SURFING      17.21
UNKNOWN      15.18
FISHING      11.27
DIVING        8.37
             ...
FLEEING       0.02
SITTTING      0.02
KING          0.02
EXPECTING     0.02
TRYING        0.02
Name: Activity_clean, Length: 190, dtype: float64