# Collections

## Lists

In [1]:
lst=[]
type(lst)

list

In [3]:
lst=list()
type(lst)

list

In [4]:
lst=list(range(10))
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
lst2=[]
for i in lst:
    lst2.append((i**2-2)/2)
lst2

[-1.0, -0.5, 1.0, 3.5, 7.0, 11.5, 17.0, 23.5, 31.0, 39.5]

In [7]:
[lst, lst2] # list of lists. very dumb approach

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [-1.0, -0.5, 1.0, 3.5, 7.0, 11.5, 17.0, 23.5, 31.0, 39.5]]

In [8]:
len(lst)

10

In [9]:
2 in lst

True

In [11]:
20 not in lst

True

In [12]:
lst.sort(reverse=True)

In [13]:
lst

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## Tuple

In [14]:
chocolates=('dark','milk','semi sweet')

In [15]:
type(chocolates)

tuple

In [16]:
chocolates[1]

'milk'

In [17]:
chocolates.append('salty')

AttributeError: 'tuple' object has no attribute 'append'

In [18]:
len(chocolates)

3

In [19]:
for chocolate in chocolates:
    print(chocolate)

dark
milk
semi sweet

In [22]:
tuple(list(chocolates)+['salty'])

('dark', 'milk', 'semi sweet', 'salty')

In [23]:
chocolates

('dark', 'milk', 'semi sweet')

In [25]:
copy=chocolates

In [26]:
copy

('dark', 'milk', 'semi sweet')

In [33]:
i,j,k=chocolates

In [28]:
print(i)

dark

In [30]:
print(j)

milk

In [31]:
print(k)

semi sweet

## Sets

In [34]:
st={}

In [35]:
type(st)

dict

In [36]:
st=set()
type(st)

set

In [37]:
lst4=[]
for i in range(20):
    lst4.append(i%2)

In [38]:
lst4

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [39]:
set(lst4)

{0, 1}

<img src="https://i.ytimg.com/vi/sdflTUW6gHo/maxresdefault.jpg">

In [40]:
s1={1,2,3,4}
s2={3,4,5,6}

In [41]:
#union
s1 | s2

{1, 2, 3, 4, 5, 6}

In [42]:
#intersection
s1 & s2

{3, 4}

In [43]:
s1.intersection(s2)

{3, 4}

In [44]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [45]:
s1 or s2

{1, 2, 3, 4}

In [46]:
s1 and s2

{3, 4, 5, 6}

In [ ]:
if statement1 or statement2:
    do smth

if statement1==True:
    do smth
elif statement2==True:
    do smth

In [47]:
s1-s2

{1, 2}

In [48]:
s2-s1

{5, 6}

In [49]:
s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [50]:
s1.difference(s2)

{1, 2}

In [51]:
s1.symmetric_difference(s2)

{1, 2, 5, 6}

In [52]:
s3=s1|s2

In [53]:
s3

{1, 2, 3, 4, 5, 6}

In [54]:
s1.issubset(s2)

False

In [55]:
s1.issubset(s3)

True

In [56]:
s2.issuperset(s1)

False

In [57]:
s3.issuperset(s1)

True

In [58]:
s3.issuperset(s3)

True

In [59]:
txt1='the quick brown fox jumps over the lazy dog'
txt2='the big bang theory'

In [61]:
s=[]
for i in txt1:
    if i in txt2:
        s.append(i)
set(s)

{' ', 'a', 'b', 'e', 'g', 'h', 'i', 'n', 'o', 'r', 't', 'y'}

In [62]:
set(txt1)&set(txt2)

{' ', 'a', 'b', 'e', 'g', 'h', 'i', 'n', 'o', 'r', 't', 'y'}

In [63]:
st={0,1,'!','2b','b2',25,'btb'}

In [64]:
st

{'!', 0, 1, 25, '2b', 'b2', 'btb'}

In [65]:
for i in st:
    print(i)

0
1
!
b2
btb
2b
25

In [66]:
st.remove('!')

In [67]:
st

{0, 1, 25, '2b', 'b2', 'btb'}

In [68]:
st.pop()

0

In [69]:
st

{1, 25, '2b', 'b2', 'btb'}

## Dictionary

In [70]:
chocolates

('dark', 'milk', 'semi sweet')

In [72]:
brands=['Lindt','Nestle','Catberry']

In [73]:
dct={}
type(dct)

dict

In [74]:
dct={'dark':'Lindt'}

In [75]:
dct

{'dark': 'Lindt'}

In [78]:
for i in range(len(brands)):
    print(i, brands[i], chocolates[i])

0 Lindt dark
1 Nestle milk
2 Catberry semi sweet

In [79]:
dct={}
for i in range(len(brands)):
    dct.update({chocolates[i]:brands[i]})
dct

{'dark': 'Lindt', 'milk': 'Nestle', 'semi sweet': 'Catberry'}

In [80]:
dct={}
for i in range(len(brands)):
    dct[chocolates[i]]=brands[i]
dct

{'dark': 'Lindt', 'milk': 'Nestle', 'semi sweet': 'Catberry'}

In [81]:
dct['caramel filled']='Poulain'

In [82]:
dct

{'dark': 'Lindt',
 'milk': 'Nestle',
 'semi sweet': 'Catberry',
 'caramel filled': 'Poulain'}

In [83]:
dct['dark']='Nestle'
dct

{'dark': 'Nestle',
 'milk': 'Nestle',
 'semi sweet': 'Catberry',
 'caramel filled': 'Poulain'}

In [84]:
dct.update({'dark':'Lindt'})

In [85]:
dct2={0:1,1:2,2:'boo'}

In [86]:
dct.update(dct2)

In [87]:
dct

{'dark': 'Lindt',
 'milk': 'Nestle',
 'semi sweet': 'Catberry',
 'caramel filled': 'Poulain',
 0: 1,
 1: 2,
 2: 'boo'}

In [88]:
dct.remove(0)

AttributeError: 'dict' object has no attribute 'remove'

In [89]:
del dct[0]

In [90]:
dct

{'dark': 'Lindt',
 'milk': 'Nestle',
 'semi sweet': 'Catberry',
 'caramel filled': 'Poulain',
 1: 2,
 2: 'boo'}

In [91]:
dct.pop(1)

2

In [95]:
dct[2]='Kinder'

In [96]:
dct

{'dark': 'Lindt',
 'milk': 'Nestle',
 'semi sweet': 'Catberry',
 'caramel filled': 'Poulain',
 2: 'Kinder'}

In [97]:
dct['kinder surprise']=dct.pop(2)

In [98]:
dct

{'dark': 'Lindt',
 'milk': 'Nestle',
 'semi sweet': 'Catberry',
 'caramel filled': 'Poulain',
 'kinder surprise': 'Kinder'}

# Generators

## List comprehensions

In [100]:
fruits=['banana','apple','kiwi', 'pineapple','pear']

Get the list of fruits that have an 'e'.

In [102]:
lst2=[]
for i in fruits:
    if 'e' in i:
        lst2.append(i)

In [103]:
lst2

['apple', 'pineapple', 'pear']

The structure of list comprehension is following:
```python
[what_to_append for iter in iterable if filter_statement==True]
```

In [105]:
[i for i in fruits if 'e' in i]

['apple', 'pineapple', 'pear']

[0.0, 0.5, 1.0, 1.5, .... 10]

In [106]:
range(0, 10,0.5)

TypeError: 'float' object cannot be interpreted as an integer

In [109]:
i=0.0
lst2=[]
while i<=10:
    lst2.append(i)
    i+=0.5

In [110]:
lst2

[0.0,
 0.5,
 1.0,
 1.5,
 2.0,
 2.5,
 3.0,
 3.5,
 4.0,
 4.5,
 5.0,
 5.5,
 6.0,
 6.5,
 7.0,
 7.5,
 8.0,
 8.5,
 9.0,
 9.5,
 10.0]

In [113]:
lst2=[]
for i in range(21):
    lst2.append(i/2)

In [114]:
lst2

[0.0,
 0.5,
 1.0,
 1.5,
 2.0,
 2.5,
 3.0,
 3.5,
 4.0,
 4.5,
 5.0,
 5.5,
 6.0,
 6.5,
 7.0,
 7.5,
 8.0,
 8.5,
 9.0,
 9.5,
 10.0]

In [116]:
[i/2 for i in range(21)]

[0.0,
 0.5,
 1.0,
 1.5,
 2.0,
 2.5,
 3.0,
 3.5,
 4.0,
 4.5,
 5.0,
 5.5,
 6.0,
 6.5,
 7.0,
 7.5,
 8.0,
 8.5,
 9.0,
 9.5,
 10.0]

In [117]:
lst_lst=[[0,1,2,3],[1,2,3],['yes','no']]

Flatten this list of lists into a list.

[0,1,2,3,1,2,3,yes,no]

In [118]:
[value for lst in lst_lst for value in lst]

[0, 1, 2, 3, 1, 2, 3, 'yes', 'no']

In [119]:
lst2=[]
for lst in lst_lst:                   #lst is a list [0,1,2,3]/[1,2,3]/ 
    for value in lst:                 #value is a value 0/1/2/3   1/2/3
        lst2.append(value)

In [123]:
[value for lst in lst_lst for value in lst]

[0, 1, 2, 3, 1, 2, 3, 'yes', 'no']

if the list has 4 elements - substract 1;  
elif the list has 3 elements - power of 2;  
else - as it is;

In [124]:
lst2=[]
for lst in lst_lst:
    if len(lst)==4:
        for element in lst:
            lst2.append(element-1)
    elif len(lst)==3:
        for element in lst:
            lst2.append(element**2)
    else:
        for element in lst:
            lst2.append(element)
lst2

[-1, 0, 1, 2, 1, 4, 9, 'yes', 'no']

In [125]:
lst2=[]
for lst in lst_lst:
    for element in lst:
        if len(lst)==4:
            lst2.append(element-1)
        elif len(lst)==3:
            lst2.append(element**2)
        else:
            lst2.append(element)
lst2

[-1, 0, 1, 2, 1, 4, 9, 'yes', 'no']

The final structure of list comprehension is following:
```python
[what_to_append if condition==True else what_to_append2 for iter in iterable if filter_statement==True]
```

In [129]:
[x-1 if len(lst)==4 else x**2 if len(lst)==3 else x for lst in lst_lst for x in lst ]

[-1, 0, 1, 2, 1, 4, 9, 'yes', 'no']

In [130]:
x

NameError: name 'x' is not defined

## Set comprehension

List of unique values from lst_lst

In [131]:
lst_lst

[[0, 1, 2, 3], [1, 2, 3], ['yes', 'no']]

In [132]:
lst2=[]
for i in lst_lst:
    for j in i:
        if j not in lst2:
            lst2.append(j)

In [134]:
[j for i in lst_lst for j in i]

[0, 1, 2, 3, 1, 2, 3, 'yes', 'no']

In [136]:
list(set([j for i in lst_lst for j in i]))

[0, 1, 2, 3, 'yes', 'no']

In [137]:
{j for i in lst_lst for j in i}

{0, 1, 2, 3, 'no', 'yes'}

In [138]:
list({j for i in lst_lst for j in i})

[0, 1, 2, 3, 'yes', 'no']

## tuple

In [139]:
(j for i in lst_lst for j in i)

In [141]:
tuple(j for i in lst_lst for j in i)

(0, 1, 2, 3, 1, 2, 3, 'yes', 'no')

## dict

In [143]:
lst2=[j for i in lst_lst for j in i]

In [144]:
lst2

[0, 1, 2, 3, 1, 2, 3, 'yes', 'no']

In [145]:
lst2.count(2)

2

In [147]:
dct={}
for i in lst2:
    dct[i]=lst2.count(i)

In [148]:
dct

{0: 1, 1: 2, 2: 2, 3: 2, 'yes': 1, 'no': 1}

```python
{key:value for iter in iterable if filter_condition==True}
```

In [149]:
{i:lst2.count(i) for i in lst2}

{0: 1, 1: 2, 2: 2, 3: 2, 'yes': 1, 'no': 1}

# Very simple text analysis

In [150]:
txt="""I've been cheated by you since I don't know when
So I made up my mind, it must come to an end
Look at me now, will I ever learn
I don't know how, but I suddenly lose control
There's a fire within my soul
and I can hear a bell ring
(One more look) and I forget everything, whoa
Mamma Mia, here I go again
My my, how can I resist you
Mamma Mia, does it show again
My my, just how much I've missed you
Yes, I've been brokenhearted
Blue since the day we parted
Why, why did I ever let you go
Mamma Mia, now I really know
My my, I could never let you go
I've been angry and sad about things that you do
I can't count all the times that I've told you we're through
And when you go, when you slam the door
I think you know that you won't be away too long
You know that I'm not…"""

Get the frequency of each letter

In [152]:
{letter:txt.count(letter) for letter in txt if letter.strip()}

{'I': 20,
 "'": 12,
 'v': 9,
 'e': 63,
 'b': 9,
 'n': 45,
 'c': 11,
 'h': 29,
 'a': 43,
 't': 41,
 'd': 24,
 'y': 28,
 'o': 58,
 'u': 24,
 's': 19,
 'i': 22,
 'k': 9,
 'w': 22,
 'S': 1,
 'm': 22,
 'p': 2,
 ',': 13,
 'L': 1,
 'l': 21,
 'r': 22,
 'T': 1,
 'f': 2,
 'g': 13,
 '(': 1,
 'O': 1,
 ')': 1,
 'M': 9,
 'j': 1,
 'Y': 2,
 'B': 1,
 'W': 1,
 'A': 1,
 '…': 1}

Frequency of every word (dont clean it yet)

In [155]:
{word:txt.split().count(word) for word in txt.split()}

{"I've": 5,
 'been': 3,
 'cheated': 1,
 'by': 1,
 'you': 11,
 'since': 2,
 'I': 14,
 "don't": 2,
 'know': 5,
 'when': 3,
 'So': 1,
 'made': 1,
 'up': 1,
 'my': 2,
 'mind,': 1,
 'it': 2,
 'must': 1,
 'come': 1,
 'to': 1,
 'an': 1,
 'end': 1,
 'Look': 1,
 'at': 1,
 'me': 1,
 'now,': 1,
 'will': 1,
 'ever': 2,
 'learn': 1,
 'how,': 1,
 'but': 1,
 'suddenly': 1,
 'lose': 1,
 'control': 1,
 "There's": 1,
 'a': 2,
 'fire': 1,
 'within': 1,
 'soul': 1,
 'and': 3,
 'can': 2,
 'hear': 1,
 'bell': 1,
 'ring': 1,
 '(One': 1,
 'more': 1,
 'look)': 1,
 'forget': 1,
 'everything,': 1,
 'whoa': 1,
 'Mamma': 3,
 'Mia,': 3,
 'here': 1,
 'go': 3,
 'again': 2,
 'My': 3,
 'my,': 3,
 'how': 2,
 'resist': 1,
 'does': 1,
 'show': 1,
 'just': 1,
 'much': 1,
 'missed': 1,
 'Yes,': 1,
 'brokenhearted': 1,
 'Blue': 1,
 'the': 3,
 'day': 1,
 'we': 1,
 'parted': 1,
 'Why,': 1,
 'why': 1,
 'did': 1,
 'let': 2,
 'now': 1,
 'really': 1,
 'could': 1,
 'never': 1,
 'angry': 1,
 'sad': 1,
 'about': 1,
 'things': 1,
 'that': 4,
 'do': 1,
 "can't": 1,
 'count': 1,
 'all': 1,
 'times': 1,
 'told': 1,
 "we're": 1,
 'through': 1,
 'And': 1,
 'go,': 1,
 'slam': 1,
 'door': 1,
 'think': 1,
 "won't": 1,
 'be': 1,
 'away': 1,
 'too': 1,
 'long': 1,
 'You': 1,
 "I'm": 1,
 'not…': 1}