## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(101), 80)
sample_list_1

[29,
 97,
 89,
 52,
 96,
 31,
 34,
 87,
 58,
 38,
 26,
 75,
 54,
 11,
 80,
 23,
 0,
 27,
 7,
 44,
 35,
 12,
 18,
 71,
 43,
 69,
 3,
 76,
 90,
 25,
 95,
 99,
 63,
 21,
 45,
 49,
 64,
 78,
 93,
 22,
 66,
 77,
 79,
 85,
 20,
 84,
 39,
 73,
 15,
 94,
 74,
 1,
 56,
 32,
 88,
 51,
 4,
 61,
 60,
 55,
 42,
 92,
 10,
 65,
 14,
 72,
 5,
 17,
 46,
 37,
 9,
 50,
 30,
 82,
 81,
 16,
 59,
 33,
 70,
 91]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
len(set1)

# Yes, the lenght is still 80 because the random.sample method does not allow repetitions.

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = []
for i in range(80):
    sample_list_2 += random.sample(range(101), 1)
sample_list_2

[76,
 10,
 90,
 62,
 5,
 98,
 64,
 61,
 81,
 7,
 10,
 6,
 48,
 3,
 18,
 51,
 1,
 33,
 37,
 88,
 79,
 67,
 35,
 31,
 37,
 80,
 7,
 75,
 28,
 9,
 35,
 14,
 74,
 80,
 62,
 40,
 32,
 80,
 38,
 92,
 64,
 10,
 32,
 42,
 7,
 5,
 2,
 73,
 27,
 73,
 67,
 36,
 57,
 15,
 32,
 40,
 10,
 96,
 73,
 57,
 27,
 24,
 80,
 73,
 42,
 42,
 77,
 26,
 0,
 92,
 20,
 98,
 58,
 94,
 93,
 26,
 14,
 53,
 27,
 6]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
len(set2)

# No it's not 80 anymore, since the numbers can be repeated.

50

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1 - set2
set3

{4,
 11,
 12,
 16,
 17,
 21,
 22,
 23,
 25,
 29,
 30,
 34,
 39,
 43,
 44,
 45,
 46,
 49,
 50,
 52,
 54,
 55,
 56,
 59,
 60,
 63,
 65,
 66,
 69,
 70,
 71,
 72,
 78,
 82,
 84,
 85,
 87,
 89,
 91,
 95,
 97,
 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2 - set1
set4

{2, 6, 24, 28, 36, 40, 48, 53, 57, 62, 67, 98}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1 & set2
#set5 = set1.intersection(set2)
set5

{0,
 1,
 3,
 5,
 7,
 9,
 10,
 14,
 15,
 18,
 20,
 26,
 27,
 31,
 32,
 33,
 35,
 37,
 38,
 42,
 51,
 58,
 61,
 64,
 73,
 74,
 75,
 76,
 77,
 79,
 80,
 81,
 88,
 90,
 92,
 93,
 94,
 96}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
len(set1), len(set2), len(set3), len(set4), len(set5)

# len(set5) is the intersection between both set1 and set2
# len(set3) is only the values of set1 not present in set2
# len(set4) is only the values of set2 not present in set1

# Therefore:
# len(set1) = len(set3) + len(set5) --> Because set1 = set3 + set5
# len(set2) = len(set4) + len(set5) --> Because set2 = set4 + set5

(80, 50, 42, 12, 38)

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set3)
set6.update(set5)
set6

{0,
 1,
 3,
 4,
 5,
 7,
 9,
 10,
 11,
 12,
 14,
 15,
 16,
 17,
 18,
 20,
 21,
 22,
 23,
 25,
 26,
 27,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 37,
 38,
 39,
 42,
 43,
 44,
 45,
 46,
 49,
 50,
 51,
 52,
 54,
 55,
 56,
 58,
 59,
 60,
 61,
 63,
 64,
 65,
 66,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 84,
 85,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 99}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [18]:
# Your code here
set1.issubset(set2), set3.issubset(set1)

(False, True)

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [22]:
# Your code here
set.union(set3, set4, set5) == set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [24]:
# Your code here
print(set1)
set1.pop()
print(set1)

{0, 1, 3, 4, 5, 7, 9, 10, 11, 12, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 42, 43, 44, 45, 46, 49, 50, 51, 52, 54, 55, 56, 58, 59, 60, 61, 63, 64, 65, 66, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}
{1, 3, 4, 5, 7, 9, 10, 11, 12, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 42, 43, 44, 45, 46, 49, 50, 51, 52, 54, 55, 56, 58, 59, 60, 61, 63, 64, 65, 66, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [33]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for item in list_to_remove:
    if item in set1:
        set1.remove(item)

print(set1)
print()
print(len(set1))

{4, 5, 7, 10, 12, 14, 15, 16, 17, 18, 20, 22, 23, 25, 26, 27, 30, 32, 33, 34, 35, 37, 38, 42, 43, 44, 45, 46, 50, 52, 54, 55, 56, 58, 60, 63, 64, 65, 66, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 84, 85, 87, 88, 90, 92, 93, 94, 95, 96, 97}

60